@charset "UTF-8";

#wrap {overflow:hidden; position:relative; width:100%;}
#header {position:absolute; left:0; top:0; z-index:1; width:100%; height: 0; text-align:center; opacity:0;}

/* 팝업존 */
#popup {position: relative; overflow:hidden; height:0; text-align:center; transition:all .2s; -webkit-transition:all .2s;}
#popup ul > li > a {display:block; width: 100%; height:150px; background:#fdd000; }
#popup .bx-pager {position:absolute; top:70px; left:50%; z-index:100; width:1100px; margin-left:-550px; text-align:left;}
#popup .bx-pager-item {display:inline; vertical-align:top;}
#popup .bx-pager-link {display:inline-block; overflow:hidden; width:8px; height:8px; margin-right:25px; border-radius:100%; background-color:#fff; color:transparent; vertical-align:top; transition:all .2s; -webkit-transition:all .2s;}
#popup .bx-pager-link.active {background-color:#333;}


/* ========== visual ========== */
.container { width: 1200px; margin: 0 auto; }

/* 비주얼 */
#visual {overflow:hidden; position:relative; z-index:0; padding:260px 0 75px; text-align:center;}
#visual .grad {position:absolute; left:0; bottom:0; width:100%; height:70%; background-color:#f7ddd5; background:linear-gradient(rgba(248, 222, 214, 0), rgba(248, 222, 214, 1) 65%);}
#visual .grad:before {position:absolute; top:30%; left:50%; width:400%; height:0; margin-left:-200%; padding:400% 0 0; background:radial-gradient(circle, rgba(248, 222, 214, .5) 50%, rgba(255, 255, 255, 0) 90%, transparent 95%); border-radius:43%; content:''; opacity:0;}
#visual > .desc {position:relative; position:relative; z-index:0; padding:70px 0; font-size:0.9rem; color:#fff;}
#visual > .desc svg {position:fixed; left:50%; top:50%; z-index:-1; margin-top:-185px; margin-left:-300px; opacity:.5; stroke:#000; stroke-width:.03px; fill:none;}
#visual > .desc .disable {opacity:0; transition:all .5s; -webkit-transition:all .5s;}
#visual > .desc span {opacity:0; transform: scale(0.2);}
#visual > .desc .title + p {opacity:0;}
#visual > .desc .title {margin-bottom:30px; font-family:'Gotham'; font-size:4.0rem; text-shadow:4px 4px 5px rgba(0, 0, 0, .1); text-transform:uppercase; letter-spacing:-12px; line-height:1; font-weight: 700;}
#visual > .desc .title strong {display:block; font-size:4.5rem; letter-spacing:-8px; font-weight: 700;}
#visual > .desc .title em {margin:0 -5px 0 25px; color:#fdd000;}
#visual .bg {position:absolute; left:0; top:0; z-index:-1; width:100%; height:100%; opacity:0;}
#visual .bg img {min-width:100%; min-height:100%;}
#visual .bg1 {position:absolute; right:160px; bottom:510px; width:263px; height:50px; margin:0; background:url('../../images/kor/main/visual_bg1.png') no-repeat; transition:all 1s 0s; -webkit-transition:all 1s 0s;}
#visual .bg1.active {margin-right:50px;}
#visual .bg2 {position:absolute; left:75px; bottom:150px; width:529px; height:326px; margin:0; background:url('../../images/kor/main/visual_bg2.png') no-repeat; transition:all 1s 0s; -webkit-transition:all 1s 0s;}
#visual .bg2.active {margin-bottom:-50px;}
#visual .down {opacity:0;}

@keyframes spark
{
      0%	{opacity:0; transform: scale(0.2); filter:blur(5px);}
      30%	{opacity:1; transform: scale(1);}
      50%	{opacity:.2;}
      100%	{opacity:1; transform: scale(1); filter:blur(0px);}
}

@keyframes grad
{
	0		{top:30%; transform:rotate(0deg);}
	25%		{top:35%; transform:rotate(90deg);}
	50%		{top:30%; transform:rotate(180deg);}
	75%		{top:35%; transform:rotate(270deg);}
	100%	{top:30%; transform:rotate(360deg);}
}




/* 비주얼 활성화 */
#visual.active .desc svg {position:absolute; top:0; margin-top:0; stroke:#dadbde; opacity:1; transition:all .5s 0s; -webkit-transition:all .5s 0s;}
#visual.active .desc .title + p {opacity:1; transition:all .2s 1.5s; -webkit-transition:all .2s 1.5s;}
#visual.active .desc span {animation:spark 1s ease 0s forwards;}
#visual.active .desc span:nth-child(2n) {animation-delay:.2s;}
#visual.active .desc span:nth-child(3n) {animation-delay:.4s;}
#visual.active .desc span:nth-child(4n) {animation-delay:.6s;}
#visual.active .desc span:nth-child(5n) {animation-delay:.8s;}
#visual.active .desc span:nth-child(6n) {animation-delay:1s;}
#visual.active .grad:before {opacity:1; animation:grad 20s infinite linear; transition:all .2s 2s; -webkit-transition:all .2s 2s;}
#visual.active .down {opacity:1; transition:all .2s 2s; -webkit-transition:all .2s 2s;}


/* 레이아웃 활성화 */
.start #header {transition:none; opacity:0; height: 0;}
.active #popup {height:150px; transition:all .5s 2.5s; -webkit-transition:all .5s 2.5s;}
.active #header {opacity:1; height: 180px; transition:all .5s 3.2s; -webkit-transition:all .5s 3.2s;}
.active #quick .menu {left:0; transition:all .5s 3s; -webkit-transition:all .5s 3s;}
.active #visual .bg {opacity:1; transition:all 1s; -webkit-transition:all 1s;}

/* 비주얼 카드 */
.card {height:940px; margin:10px -10px 0;}
.card .item {float:left; position:relative; width:33.333%; margin:-20px 0 20px; padding:0 10px; opacity:0; height: 415px; text-align:left; overflow:hidden;}
.card .item:nth-child(2),
.card .item:nth-child(5) {top:90px;}
.card .item:nth-child(4) {clear:both;}

.card .item > div {position: relative;}
.card .item .category {font-size:.7rem; line-height: 35px; min-width:92px; padding: 0 15px; border:1px solid #333; display:inline-block; color:#333; margin-bottom: 35px;}

.card .item .spotlight {padding: 38px 33px; background:url('../../images/kor/main/img_spotlight.jpg') center/ cover no-repeat; color:#fff; display:block; width: 100%; height: 100%;}
.card .item .spotlight .category {color:#fff; border-color:#fff;}
.card .item .spotlight .title {display:block; width: 100%; position:absolute; bottom:90px; left:0; padding: 0 33px; font-size:.9rem;}
.card .item .spotlight p {display:block; width: 100%; position:absolute; bottom:35px; left:0; padding: 0 33px; font-size:.7rem;}
.card .item .news {background:#fff; padding: 38px 33px;}
.card .item .news .list-news {}
.card .item .news .list-news > li {margin-bottom: 40px;}
.card .item .news .list-news > li > a {display:block; letter-spacing:-1px;}
.card .item .news .list-news > li > a img {float: left; margin-right: 20px; display:block;}
.card .item .news .list-news > li > a .title {display:block; font-size:.9rem; margin: 10px 0;}
.card .item .news .list-news > li > a .desc {font-size:.7rem; font-size:#6e6e6e; margin-bottom: 13px;}
.card .item .news .list-news > li > a .date {font-size:.6rem; color:#999; }
.card .item .video .category {position:absolute; top:38px; left:33px;}
.card .item .tabs {width: 100%; position: relative;}
.card .item .tabs > li > a {display:block; float:left; width: 50%; height:90px; line-height:90px; color:#fff; background:#333; text-align:center; font-size:1.0rem; position:relative; transition:all .3s ease; -webkit-transition:all .3s ease;}
.card .item .tabs > li.active > a {background:#43cab5; font-size:1.2rem;}
.card .item .tabs > li.active > a::before {content:''; width: 0;	height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #fdd000; display:block; position:absolute; bottom: 8px; left:50%; margin-left: -9px;}
.card .item .tabs > li .list {position:absolute; top:90px; left:0; background:#43cab5; width: 100%; height: 345px; overflow:hidden; padding: 1.5rem 2.4rem; z-index: -1; visibility:hidden; opacity:0; transition:all .3s ease; -webkit-transition:all .3s ease;}
.card .item .tabs > li.active .list {z-index: 1; visibility:visible; opacity:1;}
.card .item .tabs > li .list > li {margin-bottom: 1.5rem;}
.card .item .tabs > li .list > li > a {display:block;}
.card .item .tabs > li .list .title {font-size:.9rem; display:block; margin-bottom: 10px; color:#000;}
.card .item .tabs > li .list .desc {font-size:.7rem; }







/* 비주얼 카드 활성화 */
.card.active .item {margin-top:0; opacity:1; transition:all .5s 0s; -webkit-transition:all .5s 0s;}
.card.active .item:nth-child(2) {transition:all .5s .2s; -webkit-transition:all .5s .2s;}
.card.active .item:nth-child(3) {transition:all .5s .4s; -webkit-transition:all .5s .4s;}
.card.active .item:nth-child(4) {transition:all .5s .6s; -webkit-transition:all .5s .6s;}
.card.active .item:nth-child(5) {transition:all .5s .8s; -webkit-transition:all .5s .8s;}
.card.active .item:nth-child(6) {transition:all .5s 1s; -webkit-transition:all .5s 1s;}



/* 본문 */
#main {position:relative;}
#contents > .group .title {overflow:hidden; position:relative; height:0; padding:0; font-size:1.4rem; text-transform:uppercase; text-align:center;}
#contents > .group .title h2 {margin-bottom:5px; font-size:3.8rem;}
#contents > .group.active .title {height:180px; padding:60px 0 50px; transition:all .3s 0s; -webkit-transition:all .3s 0s;}

/* 금강을 읽다 */
.webzine {position:relative; background-color:#e7e3f1;}
.webzine:before {position:absolute; left:0; top:0; z-index:1; width:656px; height:897px; background:url('../../images/kor/main/webzine.png'); content:''; opacity:0;}
.webzine .item {overflow:hidden; position:relative; z-index:2; width:1200px; height:0; margin:0 auto; padding-bottom:0;}
.webzine .item:before {position:absolute; left:-70px; bottom:270px; z-index:2; width:185px; height:1px; background-color:#000; content:'';}
.webzine .desc {position:absolute; left:0; bottom:0; z-index:1; background-color:#e7e3f1; opacity:0;}
.webzine .bx-wrapper {opacity:0;}
.webzine .bx-viewport {z-index:0;}
.webzine .bx-controls-direction {position:absolute; left:480px; bottom:280px; z-index:1; width:121px; height:60px; opacity:0;}
.webzine .bx-controls-direction a {float:left; position:relative; width:60px; height:100%; background-color:#333;}
.webzine .bx-controls-direction a:before {position:absolute; left:50%; top:50%; width:15px; height:15px; margin:-7.5px 0 0 -4px; border-bottom:1px solid #fff; border-left:1px solid #fff; content:''; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.webzine .bx-controls-direction a + a {margin-left:1px;}
.webzine .bx-controls-direction .bx-next:before {margin-left:-10px; border:0 none; border-top:1px solid #fff; border-right:1px solid #fff;}

/* 금강을 읽다 활성화 */
.webzine.active:before {opacity:1; transition:all .5s 0s; -webkit-transition:all .5s 0s;}
.webzine.active .item {overflow:visible; height:645px; padding-bottom:210px;}
.webzine.active .item:before {left:-115px; width:185px; transition:all .3s 1s; -webkit-transition:all .5s 1s;}
.webzine.active .desc,
.webzine.active .bx-wrapper {opacity:1; transition:all .5s .5s; -webkit-transition:all .5s .5s;}
.webzine.active .bx-controls-direction {opacity:1; transition:all .5s 1s; -webkit-transition:all .5s 1s;}

/* 금강을 누리다 */
.guide {position:relative; height:0; padding-top:0; background:url('../../images/kor/main/guide.png') no-repeat; color:#fff; text-align:center; transition:all .2s; -webkit-transition:all .2s;}
.guide:before {position:absolute; left:0; top:0; z-index:-1; width:100%; height:0; background:url('../../images/kor/main/guide_bg.jpg'); background-size:100% 493px; content:'';}
.guide:after {position:absolute; right:0; top:-55px; width:212px; height:548px; background:url('../../images/kor/main/guide_line.png'); content:''; opacity:0;}
.guide .title svg {position:absolute; left:50%; top:0; margin-left:-132px; opacity:.2; stroke:#dadbde; stroke-width:.05px; fill:none;}
.guide .group {display:inline-block; width:1200px; max-width:100%;}
.guide .item {float:left; width:50%;}

/* 금강을 누리다 활성화 */
.guide.active {height:auto; padding-top:30px;}
.guide.active:before {height:493px;}
.guide.active:after {opacity:1;}
.guide.active .item {left:0; opacity:1; transition:all .3s .5s; -webkit-transition:all .3s .5s;}


/* 팝업존 */
.popupzone {position:relative; left:-20px; z-index:1; margin-top:50px; opacity:0;}
.popupzone .bx-controls-direction {position:absolute; right:-30px; top:50%; width:60px; height:120px; margin-top:-60px;}
.popupzone .bx-controls-direction a {display:block; position:relative; width:100%; height:50%; background-color:#333; color:transparent;}
.popupzone .bx-controls-direction a:before {position:absolute; left:50%; top:50%; width:15px; height:15px; margin:-5px 0 0 -7.5px; border-top:1px solid #fff; border-left:1px solid #fff; content:''; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.popupzone .bx-controls-direction a + a {margin-top:1px;}
.popupzone .bx-controls-direction .bx-next:before {margin-top:-10px; border:0 none; border-bottom:1px solid #fff; border-right:1px solid #fff;}

/* 서비스 */
.service {position:relative; left:20px; height:355px; padding:75px 100px 0; background:url('../img/service.jpg') no-repeat; opacity:0;}
.service h3 {position:relative; margin-bottom:45px; font-size:2.6rem; text-align:left; text-transform:uppercase;}
.service h3:after {position:absolute; left:200px; top:50%; width:105px; height:1px; background-color:rgba(255, 255, 255, .5); content:'';}
.service h3 span {position:absolute; left:320px; top:-60px;}
.service li {Float:left; width:46.5%; margin-bottom:10px;}
.service li:nth-child(2n) {margin-left:5%;}
.service a {display:block; height:55px; border-radius:55px; background-color:#fff; font-size:1.5rem; color:#333; line-height:55px; transition:all .2s; -webkit-transition:all .2s;}
.service .active a {background-color:#333; color:#fff;}

/* SNS */
.sns {text-align:center;}
.sns p {overflow:hidden; height:0; margin:0;}
.sns p a {display:inline-block; overflow:hidden; position:relative; width:34px; height:34px; vertical-align:top;}
.sns p a + a {margin-left:15px;}
.sns p a:hover img:first-child,
.sns p a:focus img:first-child,
.sns p a:active img:first-child {margin-top:-34px;}
.sns p img {display:block; transition:all .2s; -webkit-transition:all .2s;}
.sns ul {display:inline-block; width:1215px; max-width:100%; height:0; margin:0 auto;}
.sns li {float:left; position:relative; top:-10px; width:25%; margin-bottom:10px; opacity:0;}

/* SNS 활성화 */
.sns.active p {height:34px; margin:55px 0 50px; transition:all .2s; -webkit-transition:all .2s;}
.sns.active ul {height:420px;}
.sns.active li {top:0; opacity:1; transition:all .5s .2s; -webkit-transition:all .5 .2s;}
.sns.active li:nth-child(2n) {transition:all .5s .4s; -webkit-transition:all .5s .4s;}
.sns.active li:nth-child(3n) {transition:all .5s .6s; -webkit-transition:all .5s .6s;}
.sns.active li:nth-child(4n) {transition:all .5s .8s; -webkit-transition:all .5s .8s;}
.sns.active li:nth-child(5n) {transition:all .5s 1s; -webkit-transition:all .5s 1s;}

/* 취업공지, 행정공지 */
.latest {overflow:hidden; position:relative; width:970px; max-width:100%; height:0; margin:0 auto ; padding-left:290px;}
.latest h2 a {overflow:hidden; position:absolute; left:0; top:0; z-index:0; width:110px; height:110px; border-radius:100%; background-color:#fcf1ee; font-size:1.7rem; font-weight:normal; text-align:center; line-height:110px;}
.latest h2 a:before {position:absolute; left:0; bottom:0; z-index:-1; width:100%; height:0; background-color:#f77246; content:''; transition:all .2s; -webkit-transition:all .2s;}
.latest .group:nth-child(2) h2 a {left:130px;}
.latest .group p {overflow:hidden; height:0; opacity:0; transition:all .2s; -webkit-transition:all .2s;}
.latest .active h2 a {color:#fff;}
.latest .active h2 a:before {height:100%;}
.latest .active p {height:auto; opacity:1;}

/* 취업공지, 행정공지 활성화 */
.latest.active {height:110px; margin:90px auto 0;}
.latest.active + .go-top {opacity:1;}
