@charset "UTF-8";

#contents {font-family: 'Noto Sans KR'; font-weight: 300; font-size:.8rem; color:#666;}
#wrap {position: relative;}




/* 팝업존 */
#popup {overflow:hidden; height:150px; text-align:center; background:#fdd000; transition:all .2s; -webkit-transition:all .2s;}
#popup .container {position: relative;}
#popup ul > li > a {display:block; width: 100%; height:150px;}
#popup .bx-pager {position:absolute; top:70px; left:50%; z-index:2; width:1100px; margin-left:-550px; text-align:left;}
#popup .bx-pager-item {display:inline; vertical-align:top;}
#popup .bx-pager-link {display:inline-block; overflow:hidden; width:8px; height:8px; margin-right:25px; border-radius:100%; background-color:#fff; color:transparent; vertical-align:top; transition:all .2s; -webkit-transition:all .2s;}
#popup .bx-pager-link.active {background-color:#333;}
#popup .close {position:absolute; top: 2.5rem; right:0; display:block; width: 30px; height: 30px; font-size:1.5rem; color:#333; z-index: 2;}
#popup.close {height: 0; transition-delay:0s;}



/* sub0601 */








@media (max-width:1200px) {
  .container {padding: 0 .75rem;}
}



@media (max-width: 992px)  {
  /* grid md */
  .line-box > div:first-of-type, .line-box > div:last-of-type {padding: 0;}

}
