@charset "UTF-8";

#contents {font-family: 'Noto Sans KR'; font-weight: 300; font-size:.8rem; color:#666;}
#wrap {position: relative;}




/* 팝업존 */
#popup {overflow:hidden; height:150px; text-align:center; background:#fdd000; transition:all .2s; -webkit-transition:all .2s;}
#popup .container {position: relative;}
#popup ul > li > a {display:block; width: 100%; height:150px;}
#popup .bx-pager {position:absolute; top:70px; left:50%; z-index:2; width:1100px; margin-left:-550px; text-align:left;}
#popup .bx-pager-item {display:inline; vertical-align:top;}
#popup .bx-pager-link {display:inline-block; overflow:hidden; width:8px; height:8px; margin-right:25px; border-radius:100%; background-color:#fff; color:transparent; vertical-align:top; transition:all .2s; -webkit-transition:all .2s;}
#popup .bx-pager-link.active {background-color:#333;}
#popup .close {position:absolute; top: 2.5rem; right:0; display:block; width: 30px; height: 30px; font-size:1.5rem; color:#333; z-index: 2;}
#popup.close {height: 0; transition-delay:0s;}


/* sub0403 */
.site-list li{margin-bottom:1.25rem;}
.site-list a{display:block;border:1px solid #ccc;}
.site-list span{display:block;text-align:center;min-height:4.5rem;padding-top:1rem;}
.site-list figcaption{display:block;background-color:#f8f8f8;padding:.5rem;border-top:1px solid #ccc;}

/* sub0601 */
.title-box{padding:.5rem;background:#fff; background-clip:content-box;position:relative; margin-bottom:3rem;}
.title-box::after{content:"";display:block;width:100%;height:100%;position:absolute;left:0;top:0;background:url("../../images/kor/sub/pattern_border.gif");z-index:-1;}
.title-box h2{margin:2rem;font-size:1.6rem;color:#000;text-align:center;}
.title-box [class^="month-"]{position:absolute;top:50%;margin-top:-1rem;color:#000;}
.title-box [class^="month-"]>*{display:inline-block;vertical-align:middle;}
.title-box [class^="month-"] i{font-size:1.75rem;}
.title-box .month-prev{left:2.5rem;}
.title-box .month-next{right:2.5rem;}
.calendar{border:1px solid #ddd;}
.calendar .month-title{text-align:center;padding:1rem 0;}
.calendar .month-title .num{ display:inline-block; color:#666; font-size:2.25rem; font-weight:600; margin-right:.5rem;}
.calendar .month-title .eng{display:inline-block;color:#ccc;font-size:1.25rem;font-weight:300;}
.calendar .month-cont thead{background-color:#4ac7ba;color:#fff;}
.calendar .month-cont th{padding:.5rem;}
.calendar .month-cont td{padding:.6rem .5rem;}
.calendar .month-cont .active{color:#000;display:block;width:1.4rem;height:1.4rem;line-height:1.3rem;font-weight:400;border:1px solid #4ac7ba;border-radius:50%;text-align:center;}
.calendar-detail{margin-left:3rem;}
.calendar-detail>strong{display:inline-block;border:1px solid #4ac7ba;border-radius:1.5rem;padding:.3rem 1rem;margin-bottom:1rem;font-weight:500;color:#000;}
.calendar-detail ul{border-top:1px dotted #ccc;}
.calendar-detail li{border-bottom:1px dotted #ccc;padding:1rem .5rem;}
.calendar-detail li .date{color:#000;font-weight:400;font-size:.8rem;margin-right:3.4rem;}







@media (max-width:1200px) {
  .container {padding: 0 .75rem;}
}



@media (max-width: 992px)  {
  /* grid md */
  .line-box > div:first-of-type, .line-box > div:last-of-type {padding: 0;}

}
