@charset "UTF-8";
.container { width: 1200px; margin: 0 auto; }
/* 팝업존 */
#popup {overflow:hidden; height:0; text-align:center; background:#fdd000; transition:all .2s; -webkit-transition:all .2s;}
#popup .container {position: relative;}
#popup ul > li > a {display:block; width: 100%; height:150px;}
#popup .bx-pager {position:absolute; top:70px; left:50%; z-index:2; width:1100px; margin-left:-550px; text-align:left;}
#popup .bx-pager-item {display:inline; vertical-align:top;}
#popup .bx-pager-link {display:inline-block; overflow:hidden; width:8px; height:8px; margin-right:25px; border-radius:100%; background-color:#fff; color:transparent; vertical-align:top; transition:all .2s; -webkit-transition:all .2s;}
#popup .bx-pager-link.active {background-color:#333;}
#popup .close {position:absolute; top: 2.5rem; right:0; display:block; width: 30px; height: 30px; font-size:1.5rem; color:#333; z-index: 2;}

.active #popup {height:150px; transition:all .5s 2.5s; -webkit-transition:all .5s 1s;}
#popup.close {height: 0; transition-delay:0s;}

#wrap {overflow:hidden; position:relative; width:100%;}

.start #header { opacity: 1; height: 4.5rem; -webkit-transition: all .5s ease; transition: all .5s ease; }

#header { opacity: 0; width: 100%; height: 0px; position: absolute; left: 0; top: 0; z-index: 10; text-align: center; }
#header .container { position: relative; width: 1620px; }
#header .logo { padding: 1.8rem 0; width: 27.1rem; margin: 0 auto; font-size: 0; }
#header .logo .origin { display: inline-block; vertical-align: middle; width: 12.35rem; height: 1.8rem; margin-right: .5rem; background: url("../../images/common/header_logo.svg") 0 0/100% 100% no-repeat; -webkit-transition: all .25s ease; transition: all .25s ease; }
#header .logo .admission-main { display: inline-block; width: 4.15rem; height: 1.8rem; background: url("../../images/common/header_logo2.png") 0 0/100% 100% no-repeat; }
#header .logo .admission-main img{max-width:100%;}
#header nav { position: relative; font-size: .9rem; font-weight: 400; background-color: rgba(255, 255, 255, 0.88); padding: 0 3.6rem; }
#header nav .all-menu { padding: 1.25rem 0 0 1.7rem; position: absolute; left: 0; top: 0; }
#header nav .all-menu .icon { display: block; width: 1.7rem; height: 1.25rem; background: url("../../images/common/all_menu.png") 0 0/cover no-repeat; }

#header nav .gnb .depth1 { overflow: hidden; display: table-cell; width: 1%; height: 0; -webkit-transition: all .3s ease; transition: all .3s ease; }
#header nav .gnb .depth1 > a { display: block; text-align: center; position: relative; z-index: 2; padding: 1.25rem 1rem; font-size: .9rem; font-weight: 600; color: #333; letter-spacing: -1px; }
#header nav .gnb .depth1 > a:before { content: ""; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; height: 5px; background-color: #fdd000; -webkit-transition: all .2s; transition: all .2s; }
#header nav .gnb .depth1:hover > a, #header nav .gnb .depth1.active > a { text-decoration: none; -webkit-transition: color .2s; transition: color .2s; border-bottom: 0; }
#header nav .gnb .depth1:hover > a::before, #header nav .gnb .depth1.active > a::before { width: 50%; }
#header nav .total-search, #header nav .total-search-btn { display: block; width: 3.6rem; height: 3.6rem; padding: 1rem; text-align: center; background-color: #4bc7bb; color: #fff; font-size: 1.5rem; position: absolute; right: 0; top: 0; }
#header nav .total-search.active + .total-search-layer { opacity: 1; visibility: visible; }
#header nav .total-search-layer { opacity: 0; visibility: hidden; position: absolute; left: 0; top: 3.6rem; width: 100%; height: 3.6rem; background-color: #fff; -webkit-transition: all .3s ease; transition: all .3s ease; padding:.7rem;}
#header nav .total-search-layer input {  font-size: 1.2rem; padding:.3rem 1rem; border:0;border-left:1px solid #cdccce;width:50%;}
#header nav .total-search-layer input::placeholder{color:#e0e0e0; text-align:center;}
#header nav .total-search-layer .total-search-close { position: absolute; right: 0; top: -3.6rem; background-color: #333; color: #fff; width: 3.6rem; height: 3.6rem; font-size: 1.6rem; padding: 1rem; text-align: center; }
#header .branch-site { position: absolute; left: 0; top: 2.2rem; }
#header .branch-site li { display: inline-block; vertical-align: middle; color: #fff; font-size: .7rem; position: relative; }
#header .branch-site li ~ li { padding-left: .6rem; margin-left: .6rem; }
#header .branch-site li ~ li::before { content: ""; display: block; position: absolute; left: 0; top: .2rem; width: 1px; height: .5rem; background-color: #fff; }
#header .util { position: absolute; right: 0; top: 2.2rem; }
#header .util a { display: inline-block; vertical-align: middle; color: #fff; text-transform: uppercase; }
#header .util a ~ a { margin-left: 1rem; }
#header .util a.eng-site span { font-size: .6rem; }

#header {position:absolute; left:0; top:0; z-index:10; width:100%; height: 0; text-align:center; opacity:0;}
#header .depth2-bg {width: 1620px; height:0; position:absolute; top:9rem; left:0; overflow:hidden; background: #e8e9eb; transition:all .5s ease; -webkit-transition:all .5s ease;}
#header.active .depth2-bg {height: 460px;}

#header .depth2-bg .service {position:absolute; top: 9rem; right:6rem; z-index: 2; max-width:20rem;}
#header .depth2-bg .service h3 {position:relative; margin-bottom:2.2rem; font-size:1.3rem; text-align:left; text-transform:uppercase;}
#header .depth2-bg .service h3:after {position:absolute; left:10rem; top:50%; width:9.3rem; height:1px; background-color:#333; content:'';}
#header .depth2-bg .service h3 span {position:absolute; right:0; top:-6rem; z-index: -1;}
#header .depth2-bg .service li {float:left; width:9.4rem; margin-bottom:10px;}
#header .depth2-bg .service li:nth-child(2n) {margin-left:5%;}
#header .depth2-bg .service a {display:block; height:2.75rem; border-radius:55px; background-color:#fff; font-size:.75rem; color:#333; line-height:2.75rem; transition:all .2s; -webkit-transition:all .2s;}
#header .depth2-bg .service .active a {background-color:#333; color:#fff;}

#header .all-menu-close{display:none;position:absolute;left:2rem;top:-3rem;width:2.4rem;height:2.4rem;}
#header .all-menu-close .line1,
#header .all-menu-close .line2{display:block;width:2.5rem;height:1px;background-color:#fff;}
#header .all-menu-close .line1{transform:rotate(45deg) translate(.9rem, 1.2rem);}
#header .all-menu-close .line2{transform:rotate(-45deg) translate(-1.2rem, .8rem);}
#header .all-menu-desc{position:absolute;left:0;top:0; padding: 2.5rem 2rem 12rem 3rem; background: url(../../images/kor/common/bg_nav_depth2.png) 2rem bottom no-repeat; display:none; }
#header .all-menu-desc .title{display:block;font-size:1.45rem;font-weight:700;text-align:left;}

#header.all-menu-open .depth2-bg{display:none;}
#header.all-menu-open::after{content:"";display:block;position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);}
#header.all-menu-open nav{background-color:#e8e9eb;padding:0 0 0 17%;z-index:2;}
#header.all-menu-open nav .gnb {width: 100%; margin: 0 auto;background-color:#30d3a6; background:linear-gradient(to bottom, #54c3c1, #30d3a6);height:43rem;overflow-y:scroll;}
#header.all-menu-open nav .gnb .depth1 {overflow: visible; position:inherit;display:block;width:auto;height:auto;}
#header.all-menu-open nav .gnb .depth1 ~ .depth1{border-top:1px solid rgba(255,255,255,.3);}
#header.all-menu-open nav .gnb .depth1 > a{width:20%;float:left;color:#fff;text-align:left;font-size:1.2rem;}
#header.all-menu-open nav .gnb .depth1 > a::before{transform:none;left:0;}
#header.all-menu-open .depth1 .depth2-wrap {width: 80%;height: auto;float:right;  text-align:left; position:static; top:3.6rem; left:0;  visibility:visible; z-index: 1; opacity:1;overflow:visible; }
#header.all-menu-open .depth1.active .depth2-wrap{height: auto;}
#header.all-menu-open nav .gnb .depth1::after,
#header.all-menu-open .depth1 .depth2-wrap::after {content:''; display:block; clear:both;}
#header.all-menu-open nav .gnb .depth2-wrap .desc {display:none;}
#header.all-menu-open nav .gnb .depth2-wrap .desc .title {display:block; font-size:2.1rem; font-weight:700;}
#header.all-menu-open nav .gnb .depth2-wrap .desc span {font-size:.6rem; display:block;}

#header.all-menu-open nav .gnb .depth2 {width: 100%; height: auto; padding: 0; font-size:.8rem; transition:height .5s ease; -webkit-transition:height .5s ease;background:#e8e9eb; }
#header.all-menu-open nav .gnb .depth2 > li::after{content:"";display:block;clear:both;}
#header.all-menu-open nav .gnb .depth2 > li > a {display:block; width:23%; transition:all .3s ease; -webkit-transition:all .3s ease;float:left;}
#header.all-menu-open nav .gnb .depth2 > li:hover > a {background:#f5f7fa;position:relative;}
#header.all-menu-open nav .gnb .depth2 > li:hover > a::before{content:"";display:block;position:absolute;left:28px;top:9px;width:13px;height:27px;background:url("../../images/kor/common/icon_diamond.png") 0 0/cover no-repeat;}

#header.all-menu-open nav .gnb .depth2 > li .depth3 {width: calc(77% + 1.3rem); height: auto; padding: 0; background:#fff;float:left; visibility:visible; z-index: 1; opacity:1; transition:all .3s ease;position:static;}
#header.all-menu-open nav .gnb .depth2 > li .depth3 > li{float:left;}
#header.all-menu-open nav .gnb .depth2 > li .depth3 > li > a {width:auto;color:#777;padding:.6rem;}
#header.all-menu-open nav .gnb .depth2 > li .depth3 > li:hover > a {background:#f5f7fa;color:#4ec5bd;}

#header.all-menu-open nav .gnb .depth4 {display:none;}
#header.all-menu-open .depth2-bg .service,
#header.all-menu-open .all-menu,
#header.all-menu-open .total-search{display:none;}
#header.all-menu-open .all-menu-desc{display:block;}
#header.all-menu-open .all-menu-close{display:block;}

#header nav a[target="_blank"]::after{ content: "";  display: inline-block;  width: .55rem;  height: .6rem; margin-left:.3rem; background: url("../../images/common/icon_blank_green.gif") 0 0/cover no-repeat;   }

/* ========== 서브레이아웃 ==========*/
#spot { padding: 9rem 0 0; color: #fff; position: relative; background: no-repeat 50% 50%/cover; }
#spot.sub1 { background-image: url("../../images/ipsi/sub_visual01.jpg"); }
#spot.sub2 { background-image: url("../../images/ipsi/sub_visual02.jpg"); }
#spot.sub3 { background-image: url("../../images/ipsi/sub_visual03.jpg"); }
#spot.sub4 { background-image: url("../../images/ipsi/sub_visual04.jpg"); }
#spot.sub5 { background-image: url("../../images/ipsi/sub_visual05.jpg"); }
#spot.sub6 { background-image: url("../../images/ipsi/sub_visual06.jpg"); }
#spot .snb-title { text-align: center; color: #fff; font-size: 2.3rem; font-weight: 500; margin: 3.5rem 0; }
#spot h3 { color: #000; font-size: 1.25rem; font-weight: 500; margin: 2rem 0 1.25rem; }
#spot .cont-top { border-top: 1px solid rgba(255, 255, 255, 0.3); background-color:rgba(0,0,0,0.3)}
#spot .cont-top .nav { color: #fff; height: 3.5rem; }
#spot .cont-top .nav .home { float: left; border-left: 1px solid rgba(255, 255, 255, 0.3); padding: 1.2rem; }
#spot .cont-top .nav .xi-home-o { font-size: 1rem; }
#spot .cont-top .nav [class^="depth"] { float: left; position: relative; width: 10.5rem; }
#spot .cont-top .nav [class^="depth"] ul { opacity: 0; visibility: hidden; position: absolute; top: 3.5rem; width: 100%; z-index: 3; overflow: hidden; -webkit-transition: all .3s ease; transition: all .3s ease; }
#spot .cont-top .nav [class^="depth"] ul::after { content: ""; display: block; clear: both; }
#spot .cont-top .nav [class^="depth"] ul li a { display: block; padding: 1.1rem; background-color: #a9a6ab; border-top: 1px solid #9b999d; }
#spot .cont-top .nav [class^="depth"] ul li a::after { content: "\e907"; display: block; font-family: "xeicon"; opacity: 0; -webkit-transform: translateX(-10px); transform: translateX(-10px); -webkit-transition: all 0.25s ease; transition: all 0.25s ease; float: right; }
#spot .cont-top .nav [class^="depth"] ul li a:hover { color: #fff; text-decoration: underline; }
#spot .cont-top .nav [class^="depth"] ul li a:hover::after { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); }
#spot .cont-top .nav [class^="depth"].active .title { background: -webkit-gradient(linear, left top, left bottom, from(#4fc5be), to(#30d3a6)); background: linear-gradient(to bottom, #4fc5be 0%, #30d3a6 100%); }
#spot .cont-top .nav [class^="depth"].active ul { opacity: 1; visibility: visible; max-height: 1000px; }
#spot .cont-top .nav [class^="depth"] .title { cursor: pointer; display: block; padding: 1.2rem; letter-spacing: -1px; border-left: 1px solid rgba(255, 255, 255, 0.3); font-weight: 200; }
#spot .cont-top .nav [class^="depth"] .title::after { content: "\e942"; font-family: "xeicon"; opacity: 0.5; font-size: 1rem; float: right; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }
#spot .cont-top .nav [class^="depth"] .title:hover::after, #spot .cont-top .nav [class^="depth"] .active .title::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
#spot .cont-top .nav .depth2 .title { border-right: 1px solid rgba(255, 255, 255, 0.1); }
#spot .cont-top .nav .sns { float: right; position: relative; }
#spot .cont-top .nav .sns .title { display: block; padding: 1.2rem; border-left: 1px solid rgba(255, 255, 255, 0.3); border-right: 1px solid rgba(255, 255, 255, 0.3); }
#spot .cont-top .nav .sns .sns-shortcut { opacity: 0; visibility: hidden; background-color: #9b999d; border: 1px solid rgba(255, 255, 255, 0.3); -webkit-transition: all .3s; transition: all .3s; position: absolute; left: 0px; top: 70px; width: 100%; white-space: nowrap; max-height: 0; overflow: hidden; }
#spot .cont-top .nav .sns .sns-shortcut li a { display: block; padding: .6rem; text-align: center; }
#spot .cont-top .nav .sns .sns-shortcut li a:hover { color: #fff; }
#spot .cont-top .nav .sns.active .sns-shortcut { opacity: 1; visibility: visible; max-height: 1000px; }
#spot .cont-top.fixed{position:fixed;left:0;top:0;z-index:10;width:100%;background-color:rgba(0,0,0,.7);}

.cont-wrap > h1 { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.cont-wrap .cont-mid { padding: 3.2rem 0; }
.cont-wrap .cont-mid::before { content: ""; display: table; }
.cont-wrap .cont-mid::after { content: ""; display: block; clear: both; }

/* 페이지 타이틀 */
.page-title {margin-bottom: 2.5rem; text-align:center; font-family: "Nanum Square";}
.page-title h1.title {font-size:1.8rem; margin-bottom: .5rem; color:#333;}
.page-title p {font-size:.75rem; color:#666;}

.cont-wrap .cont-mid {padding: 2.5rem 0;}


/*=============== 공통 스타일 ===============*/
.cont-mid strong.title {display:block;}
.cont-mid hr {display:block; clear:both;}
.cont-mid hr.line {width: 100%; height:1px; background:url('../../images/common/bg_hr.png') left top repeat; margin: 3rem 0;}
.cont-mid p {margin: .7rem 0;}

/* 탭메뉴 */
.tabs {display:table; table-layout:fixed; width: 100%; margin: 2.5rem auto;}
.tabs > li {display:table-cell; text-align:center;vertical-align:top;}
.tabs > li > a {display:block; height:3.1rem; border:1px solid #ddd; background:#f9f9f9; margin-left: -1px; position: relative;display: -webkit-flex;display: flex;-webkit-align-items:center;align-items:center;justify-content: center;}
.tabs > li.active a {border-bottom-color:#fff; border-top:2px solid #000; background:#fff;}

/* 라인 박스 */
.line-box {padding: 2.3rem 0; border-bottom:1px solid #ddd; border-top:1px solid #000; margin: 2.5rem auto;}
.line-box + .line-box {margin-top: -2.5rem; border-top:0;}
.line-box > div:first-of-type {padding-left: 0;}
.line-box > div:last-of-type {padding-right: 0;}
.line-box::after {content:''; display:block; clear:both;}
strong.title {font-size:1rem; color:#000; margin-bottom: 1rem; position: relative;}
strong.title.bul {padding-top: .5rem;margin-top:0; }
strong.title.bul::before {content:''; width: 1.35rem; height: .1rem; background:#000; position:absolute; top:0; left:0;}
.line-box .en {display:block; margin: 1rem 0; color:#ccc; font-size:1.9rem; font-weight: 200;}
.line-box p {margin: 1rem 0;}
.line-box .bnt {margin-top: 1.9rem;}

/* 보더박스 */
.border-box {border:5px solid #ddd; margin: 2.5rem 0; padding: 1.5rem 2.8rem; position: relative;}
/* 아이콘형 보더박스 */
.border-box.icon {padding-left: 10.75rem;}
.border-box.icon img {position: absolute; top: 1.8rem; left:2.8rem;}
.border-box.icon .title {margin: .75rem 0;}
.border-box.icon p {margin: .75rem 0;}
/* .border-box.icon .btn {margin: .75rem 0;} */

/* 버튼 */
.cont-mid .btn {display: inline-block; margin-bottom: 0; font-family: 'Noto Sans KR'; font-weight: 300; font-size:.75rem; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: bottom; touch-action: manipulation; cursor: pointer; user-select: none; background-image: none; color: #666; background-color: #fff; transition: all .25s ease; border: 1px solid #ddd; padding:.5rem 1.1rem; font-family:inherit; min-width:10.3rem;}
.cont-mid .btn:hover {border-color:#000; color:#000;}
.cont-mid .btn > i {color:#000; font-size:.8rem; margin-left: 1.5rem; float:right;}
.cont-mid .btn + .btn {margin-left: 1rem;}

/* 타이틀  */
.cont-mid h2.title {margin: 2.5rem 0 1.2rem; color:#333; font-size:1.15rem;}
/*.cont-mid h2.title:first-of-type {margin-top: 0;}*/
.cont-mid strong.mint {color:#2ea89e; font-size:.9rem; margin: 1rem 0 .5rem; display:block;}
.cont-mid h3.title {margin: 1.7rem 0 1rem; color:#333; font-size:.8rem;}

/* 블릿 */
.cont-mid .list {margin: .7rem 0;}
.cont-mid .list > li, .cont-mid .list > .bul, span.bul.dot {position: relative; padding-left: 10px;}
/* 민트색 도트 */
.cont-mid .list.dot > li {color:#333; font-weight: 400; margin: .5rem 0;}
.cont-mid .list.dot > li::before, .bul.dot::before {content:''; width: .25rem; height: .25rem; border-radius:50%; background:#2ea89e; position:absolute; top:.4rem; left:0;}
/*.cont-mid .list.dot > li > * {color:#666; font-weight: 300;}*/
/* 회색 도트 */
.cont-mid .list.dot.gray > li {font-size:.8rem; font-weight: 300; color:#666; margin: .2rem;}
.cont-mid .list.dot.gray > li::before {content:''; width: .15rem; height: .15rem; background:#666; top: .55rem;}
.cont-mid .list.dot.gray > li p {margin: .2em 0;}
/* 대쉬 */
.cont-mid .list.dash > li {font-size:.75rem; font-weight: 300; color:#666; margin: .2rem;}
.cont-mid .list.dash > li::before {content:''; width: 3px; height: 1px; background:#666; position: absolute; top: .4rem; left: 0;}

/* 주의 */
.caution {color:#d87761; position: relative; padding-left: 1.2rem; margin: 1.5rem 0;}
.caution > i {position: absolute; top: .1rem; left: .2rem;}

/* 테이블 */
/* 기본 : 양쪽 오픈 스타일  */
.cont-mid .table-wrap {overflow:hidden; width: 100%; position: relative; margin: 1.5rem 0;}
/* .table-wrap table {table-layout:fixed;} */
.cont-mid .table-wrap table::before {content:''; width: 100%; height:1px; background:#000; position: absolute; top:0; left:0;}
.cont-mid .table-wrap table th {background:#f8f8f8; color:#000; font-weight: 300;}
.cont-mid .table-wrap table th, .cont-mid .table-wrap table td {border:1px solid #ddd; padding: .9rem .8rem;}
.cont-mid .table-wrap table td {padding: .9rem 1rem;}
.cont-mid .table-wrap table tr:first-child th, .cont-mid .table-wrap table tr:first-child td{border-top:0;}
.cont-mid .table-wrap table th:first-child, .cont-mid .table-wrap table td:first-child {border-left: 0;}
.cont-mid .table-wrap table th:last-child, .cont-mid .table-wrap table td:last-child {border-right: 0;}

/* 모두오픈 스타일  */
.cont-mid .table-wrap.all-open {}
.cont-mid .table-wrap.all-open table th, .cont-mid .table-wrap.all-open table td {border-left:0; border-right:0;}

/* 아코디언 */
.accordion {  border-top: 1px solid #000;}
.accordion > li .title-wrap {  display: block;  border-bottom: 1px solid #ddd;  position: relative;  padding: 1.2rem 3rem 1.3rem 8rem;}
.accordion > li .title-wrap .number {  border: 1px solid #ddd;  color: #000;  text-align: center;  padding: .4rem 0;  width:5rem;  font-size: .8rem; display: inline-block;  border-radius: 2.5rem;  -webkit-transition: all .25s ease;  transition: all .25s ease;  position: absolute;  left: 0;  top: 1rem;}
.accordion > li .title-wrap:hover .number {  background-color: #eee;}
.accordion > li .title-wrap .title {  font-size: 1rem;margin-top:0;margin-bottom:0;}
.accordion > li .title-wrap .arrow {  position: absolute;  top: .8rem;  right: 1rem;  font-size: 1.5rem;  border-radius: 50%;  padding: .3rem;  -webkit-transition: all .25s ease;  transition: all .25s ease;}
.accordion > li .cont {  opacity: 0;  visibility: hidden;  max-height: 0;  overflow: hidden;  padding:0rem 3rem;  border-bottom: 1px solid #ddd;}
.accordion > li .cont .title {  display: block;  margin: 0 0 .6rem;  position: relative;  padding-left: .5rem;}
.accordion > li .cont .title::before {  content: "";  display: block;  width: 2px;  height: .7rem;  background-color: #000;  position: absolute;  left: 0;  top: 4px;}
.accordion > li .cont .list-dot > li {  font-size: .8rem;}
.accordion > li .cont .list-dot > li::before {  top: .5rem;}
.accordion > li.active .number, .accordion > li.active:hover .number {  border-color: #31d3a6;}
.accordion > li.active .cont {  opacity: 1;  visibility: visible;  background-color: #fafafa;  max-height: 2000px;  padding: 1rem 3rem;  -webkit-transition: all .3s ease;  transition: all .3s ease;}
.accordion > li.active .arrow {  -webkit-transform: rotate(180deg); transform: rotate(180deg);}

/* 회색박스 */
.gray-box {margin: .5em 0 1rem; width: 100%; border:1px solid #ddd; border-top-color:#000; background:#f8f8f8; padding: 2.3rem 2.8rem;}
.gray-box img {display:inline-block;}
.gray-box .name {font-size:1rem; display:inline-block; color:#000; vertical-align:middle;}
.gray-box img + .name {margin-left: 3rem; margin-right: 4rem;}
.gray-box .list {display:inline-block; vertical-align:middle;}
/* .gray-box .list.dot.gray > li {margin: 0;} */
.gray-box .list strong {display:inline-block; font-weight: 400; color:#000; margin: 0 .5rem 0 0; vertical-align:middle;}
.gray-box .list p {display:inline-block; vertical-align:middle;}
.gray-box.separate {padding: 0; /*min-height: 12.7rem;*/ background:#fff;}
.gray-box.separate .top {width: 100%; height: 2.5rem; border-bottom:1px solid #ddd; padding:0 1.5rem 0 2.2rem; background:#f8f8f8;}
.gray-box.separate .top .more {font-size:.75rem; color:#000; float:right; line-height: 2.4rem;}
.gray-box.separate .bottom {padding: 1.5rem;}
.gray-box.separate img + .list {margin-left: 1.7rem;margin-top:0; vertical-align: top;}
/* 선이 살짝 있는 회색박스 */
.gray-border-box {border:1px solid #dedede; background:#f8f8f8; padding: 1rem; margin: 2rem 0;}
/* 선이 없는 회색박스 */
.gray-bg-box {background:#fafafa; padding: 1rem; margin: 2rem 0;}
/* 얇은 선만 있는 박스 */
.border-thin-box {border:1px solid #ddd; padding: 1rem; margin: 2rem 0;}

/* 반반박스 - 왼쪽타이틀영역 회색 , 오른쪽콘텐츠영역 흰색 */
.gray-box.half-half{padding:0;}
.gray-box.half-half::after{content:"";display:block;clear:both;}
.gray-box.half-half .title-area{background-color:#f8f8f8;padding:1rem 2rem;text-align:center;}
.gray-box.half-half .cont-area{background-color:#fff;padding:1rem 2rem;}

/*=================================*/



/* 스크롤 다운 */
.down { margin-top: 4rem; text-align: center; color: #fff; }
.down::after { display: block; position: relative; font-size: 8px; content: '▼'; -webkit-animation: down 1s infinite alternate; animation: down 1s infinite alternate; }
.down a { display: inline-block; padding-top: 1.7rem; font-size: .7rem; background: url("../../images/common/visual_down.png") center 0 no-repeat; }

@-webkit-keyframes down { from { top: 0; }
  to { top: 10px; } }

@keyframes down { from { top: 0; }
  to { top: 10px; } }
/* 위로가기 */
.go-top { position: fixed; right: 2rem;bottom:2rem; z-index: 1; width: 2.5rem; height: 2.5rem;padding-top: 13px; border: 1px solid #333;transition: all .3s; -webkit-transition: all .3s; background-color: #fff; font-size: .6rem; opacity: 1; text-align: center; }
.go-top:before { display: block; width: 7px; height: 7px; margin: 0 auto; border-left: 2px solid #46cbb6; border-top: 2px solid #46cbb6; content: ''; transform: rotate(45deg); -webkit-transform: rotate(45deg); transition: all .2s; -webkit-transition: all .2s; }
.go-top.stick{position:absolute;bottom:14.65rem;}

/* ========== 하단 ========== */
#footer { color: #9d9d9d; font-size: .7rem; line-height: 1.5; }
#footer .container { position: relative; }
#footer .branch-site { background-color: #333; padding: 1.5rem 0; }
#footer .branch-site a ~ a { margin-left: 1rem; }
#footer .footer-nav { background-color: #fff; padding: 1.5rem 0; }
#footer .footer-nav a { color: #333; }
#footer .footer-nav a ~ a { margin-left: 1rem; }
#footer .footer-nav .sns { font-size: 1.4rem; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
#footer .footer-nav .sns a { color: #9b9b9b; }
#footer .footer-nav .sns a ~ a { margin-left: 1rem; }
#footer .footer-section { background-color: #dadbde; padding: 2rem 0; border-top: 1px solid #cacacd; position: relative; }
#footer .footer-logo { display: block; width: 7.35rem; height: 1.9rem; margin-bottom: 1rem; background: url("../../images/common/footer_logo.png") 0 0/cover no-repeat; }
#footer .relate-site { position: absolute; right: 0; top: 0; font-size: .65rem; color: #9b9b9b; }
#footer .relate-site > div { display: inline-block; vertical-align: middle; position: relative; }
#footer .relate-site > div .title { display: block; padding: .5rem 3rem .5rem 1rem; background-color: #fff; position: relative; cursor: pointer; }
#footer .relate-site > div .xi-angle-up-min { position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .3s ease; transition: all .3s ease; }
#footer .relate-site > div .list { opacity: 0; visibility: hidden; overflow: hidden; position: absolute; bottom: 40px; z-index: 2; width: 100%; max-height: 0; padding: 10px; background-color: #3b3b3b; border: 1px solid #242424; -webkit-transition: all .3s ease; transition: all .3s ease; }
#footer .relate-site > div.active .xi-angle-up-min { -webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }
#footer .relate-site > div.active .list { opacity: 1; visibility: visible; max-height: 1000px; }
#footer .footer-banner { position: absolute; right: 0; top: 3rem; }

.web { display: block; }

.mobile { display: none; }

@media screen and (max-width: 1920px) { /*#header .nav{width:calc(100% - 35rem);}*/
  #header .nav .gnb .depth1 > a { padding-left: .2rem; padding-right: .2rem; }
}

@media screen and (max-width: 1620px) {
  /*html { font-size: 18px; }*/
  #header .container { width: 100%; }
  /*#header .nav{width:calc(100% - 30rem);}*/
  #contents img { max-width: 100%; }
}

@media screen and (max-width: 1200px) {
  html { font-size: 18px; }
  .container { width: 100%; }
}

@media screen and (max-width: 991px) {
  html { font-size: 16px; }
  #popup .close{top:.8rem;right:.3rem;}
  #popup img{max-width:100%;}
  #popup ul > li > a{height:auto;}
  .active #popup{height:auto;}
  #header nav{position:absolute;top:1.8rem;}
  #header nav .gnb{display:none;}
  #header nav .all-menu{padding:0;}
  #header .branch-site,
  #header nav .total-search{display:none;}
  #header .util{top:1.8rem;}
  #header .util .eng-site,
  #header .util .login{display:none;}
  #header .util .member{ display: block; width: 2rem; height: 2rem; padding: .2rem; text-align: center; background-color: #4bc7bb; color: #fff; font-size: 1.5rem; position: absolute; right: 0; top: 0;}
}

@media screen and (max-width: 767px) {
  html { font-size: 14px; }
  html, body, .wrap { min-width: inherit; }
  .web { display: none; }
  .mobile { display: block; }
  .row{margin:0;}
  #header .logo .admission-main{width:3.75rem;}
  #header nav .all-menu{left:.8rem;}
  #header .util .member{right:.8rem;}
  #spot{padding-top:3rem;}
  #spot .cont-top .nav{height:2.3rem;}
  #spot .cont-top .nav .home{padding:.6rem;}
  #spot .cont-top .nav [class^="depth"]{width:8.5rem;}
  #spot .cont-top .nav [class^="depth"] ul{top:2.3rem;}
  #spot .cont-top .nav [class^="depth"] ul li a{padding:.55rem;}
  #spot .cont-top .nav [class^="depth"] .title{padding:.6rem;}
  #spot .cont-top .nav .sns .title{padding:.7rem .6rem;}
  #spot .cont-top .nav .sns .sns-shortcut{top:2.3rem;}
  .cont-wrap .cont-mid{padding-left:.8rem;padding-right:.8rem;}
  .cont-mid .table-wrap{overflow-x:scroll;}


  .go-top.stick{position:fixed;bottom:2rem;z-index:2;}
  #footer {text-align:center;}
  #footer .footer-logo{margin:0 auto .5rem;}
  #footer .branch-site,
  #footer .footer-nav{padding:.5rem;}
  #footer .footer-nav .container{padding-right:9rem;}
  #footer .footer-section{padding:1rem .5rem;}
  #footer .relate-site{position:relative;margin-top:.5rem;}
  #footer .relate-site > div .title{padding-right:2rem;}
  #footer .footer-banner{display:none;}
  #footer .site-select3{margin-top:.5rem;}

  .btns .btn {width: 100%; margin-bottom: .8rem;}
  .cont-mid .btn + .btn {margin-left: 0;}
  .cont-mid .btn > i {float:inherit;}
}

/*# sourceMappingURL=layout.css.map */
