$dark0 : #000;
$dark1 : #111;
$color1 : #3944a7;
$color2 : #344480;
$color3 : #1b6cb8;
$color4 : #666b6f;
$color5 : #b5b5a6;
$color6 : #bc0000;
$color7 : #1fa7d2;
$color8 : #665abc;

//font
@mixin font($weight, $size, $family){
  font-weight:$weight;
  font-size:$size;
  font-family:$family;
}

//clearfix
@mixin topclear{
    &::before{content:"";display:table;}
}
@mixin clearfix {
  &::after{content:"";display:block;clear:both;}
}
@mixin inactive{opacity:0;visibility:hidden;}
@mixin active{opacity:1;visibility:visible;}
@mixin vertical{display:inline-block;vertical-align:middle;}
@mixin align($h, $v){
  display: -webkit-box; //chrome 박스
  -webkit-box-align: $v; //chrome 수직가운데
  -webkit-box-pack: $h; //chrome 수평가운데
  display: -ms-flexbox;//ie 박스
  align-items: $v; //ie 수직가운데
  -ms-flex-pack: $h; //ie 수평가운데
  //justify-content: center;
  //display: flex;
  //-ms-flex-align: center;
}
@mixin sprite($left, $top){background:url("../../images/korean/sub/icon-sprite.png") no-repeat $left $top;}
//scrollbar
@mixin scrollbarV($track, $size, $thumb, $round){
  &::-webkit-scrollbar-track{background-color: $track; border-radius: $round;}
  &::-webkit-scrollbar	{width: $size;}
  &::-webkit-scrollbar-thumb{background-color: $thumb; border-radius: $round;}
}
@mixin scrollbarH($track, $size, $thumb, $round){
  &::-webkit-scrollbar-track{background-color: $track; border-radius: $round;}
  &::-webkit-scrollbar	{height: $size;}
  &::-webkit-scrollbar-thumb{background-color: $thumb; border-radius: $round;}
}
//alignCenter
@mixin position($left, $top){position:absolute;left:$left;top:$top;
  @if $left == 50% and $top == 50%{
    transform:translate(-50%, -50%);
  } @else if $left == 50%{
    transform:translateX(-50%);
  } @else if $top == 50%{
    transform:translateY(-50%);
  }
}
//vertical bar
@mixin barV($height, $color, $padding){position:relative;padding-left:$padding;margin-left:$padding;
  &::before{content:"";display:block;width:1px;height:$height;background-color:$color;  position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
  &:first-child{padding-left:0;margin-left:0;
    &::before{display:none;}
  }
}
//gradient
@mixin gradient($color1, $color2, $direction){background: linear-gradient(to $direction, $color1 0%,$color2 100%);}
//bg
@mixin bg($class) { background:url("../../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat }
@mixin classBg($class) {
   .#{$class}{background:url("../../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat;}
}
//ellipsis
@mixin ellipsis{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
@mixin ellipsis2{display:-webkit-box; -webkit-line-clamp: 2; max-height:45px; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}


//circle
@mixin circle($size){border-radius:50%;width:$size;height:$size;line-height:$size;}
