@charset "utf-8";
@import '../common/mixin';

/* 퀵메뉴 */
nav{
  .gnb{
    .depth2 { @include inactive;@include position(50%,89px); width:100%;z-index:2;transition:all 0.5s ease;padding:1rem 0 .5rem;border-left:1px solid #252834;
      &:hover{background-color:rgba(2,6,23,.3);}
      &>li {vertical-align:top;
        &>a {display:block; text-align:center; position:relative; z-index:1; font-size:.8rem; font-weight:100; color:#d8d8db; letter-spacing:0; padding:8px 0;
          &:hover{text-decoration:underline;background-color:rgba(2,6,23,.3);}
        }
      }
    }
    .depth3{display:none;}
    &.active{
      &::after{height:15.75rem;}
      .depth1{height:20.3rem;}
      .depth2{@include active;height:15.75rem;}
    }
  }  
}

#quick .menu {position:absolute; right:0; top:50%; z-index:100; width:6.2rem; transition:all .2s;}
#quick .menu a {display:block; position:relative; height:2.5rem; padding-top:.8rem; text-align:center; font-size:.75rem; font-family:"Gotham"; color:#333; font-weight:500; transition:all .2s; }
#quick .menu a:before { content:""; position:absolute; right:0; top:0; z-index:-1; width:6.2rem; height:100%; background-color:#ffb90a;transition:all .2s .1s;}
#quick .menu a:after {content:''; position:absolute; left:-1rem; top:50%; width:2rem; height:.5rem; transform:translateY(-50%); background:url("../../images/ipsi/popup_arr.png") 0 0 no-repeat; transition:all .2s; -webkit-transition:all .2s;}


/* 퀵메뉴 내용 */
#quick .group {overflow:hidden; position:fixed; left:50%; top:50%; z-index:50; width:0; height:0; background-color:#fdd000; opacity:0; transition:all .3s; -webkit-transition:all .3s;}
#quick .item {position:relative; top:50%; width:1200px; height:760px; max-width:90%; margin:-380px auto 0; text-align:center;}
#quick .item h2 {padding:30px 0 65px; opacity:0; transition:all .2s .3s; -webkit-transition:all .2s.3s;}
#quick .banner {overflow:hidden;}
#quick .banner li {float:left; position:relative; top:10px; width:22.75%; opacity:0;}
#quick .banner li + li {margin-left:3%;}
#quick .banner a {display:block; position:relative; height:130px; font-size:1.8rem; line-height:130px; transition:all .2s; -webkit-transition:all .2s;}
#quick .banner a:before {position:absolute; left:0; top:0; z-index:-2; width:100%; height:100%; background-color:#333; content:''; transform:rotateX(90deg); -webkit-transform:rotateX(90deg); transition:all .2s 0s; -webkit-transition:all .2s 0s;}
#quick .banner a:after {position:absolute; left:0; top:0; z-index:-1; width:100%; height:100%; background-color:#fff; content:''; transform:rotateX(0deg); -webkit-transform:rotateX(0deg); transition:all .2s .1s; -webkit-transition:all .2s .1s;}
#quick .banner .active a {color:#fff;}
#quick .banner .active a:before {z-index:-1; transform:rotateX(0deg); -webkit-transform:rotateX(0deg); transition:all .2s .2s; -webkit-transition:all .2s .2s;}
#quick .banner .active a:after {z-index:-2; transform:rotateX(90deg); -webkit-transform:rotateX(90deg); opacity:0; transition:all .2s .1s; -webkit-transition:all .2s .1s;}
#quick .link {margin-top:85px; background:url('../img/link.gif') no-repeat center center;}
#quick .link li {position:relative; left:-10px; height:115px; padding-left:170px; opacity:0;}
#quick .link li + li {margin-top:30px;}
#quick .link li:first-child h3 + a:after {position:absolute; right:12px; top:0; width:23px; height:23px; border-radius:100%; background-color:#fa695c; content:'';}
#quick .link li:last-child h3 + a:after {position:absolute; right:12px; top:0; width:23px; height:23px; border-radius:100%; background-color:#30d3a6; content:'';}
#quick .link h3 {position:absolute; left:0; top:0; width:170px; font-size:2.0rem; line-height:115px;}
#quick .link a {display:table; float:left; position:relative; z-index:0; width:115px; height:115px; margin-right:30px; border-radius:100%; border:1px solid #333; font-size:1.8rem; vertical-align:top;}
#quick .link a:before {position:absolute; left:0; top:0; z-index:-1; width:100%; height:100%; border-radius:100%; background-color:#333; content:''; transform:rotateY(90deg); -webkit-transform:rotateY(90deg); transition:all .2s 0s; -webkit-transition:all .2s 0s;}
#quick .link a.active {color:#fff;}
#quick .link a.active:before {transform:rotateY(0deg); -webkit-transform:rotateY(0deg);}
#quick .link span {display:table-cell; vertical-align:middle;}
#quick .close {position:absolute; right:0; top:0; width:85px; height:85px; opacity:0; transition:all .2s; -webkit-transition:all .2s;}
#quick .close:before {position:absolute; left:50%; top:50%; width:100%; height:1px; margin:-.5px 0 0 -50%; background-color:#8d93a4; content:''; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
#quick .close:after {position:absolute; left:50%; top:50%; width:1px; height:100%; margin:-50% 0 0 -.5px; background-color:#8d93a4; content:''; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
#quick .close:hover,
#quick .close:focus,
#quick .close:active {transform:rotate(180deg); -webkit-transform:rotate(180deg);}

/* 퀵메뉴 활성화 */
#quick.active .menu a {color:#333;}
#quick.active .menu .active a {color:#fff;}
#quick.active .group {left:0; top:0; width:100%; height:100%; opacity:1;}
#quick.active .item h2,
#quick.active .close {opacity:1;}
#quick.active .banner li {top:0; opacity:1; transition:all .3s .4s; -webkit-transition:all .3s .4s;}
#quick.active .banner li:nth-child(2) {transition:all .3s .5s; -webkit-transition:all .3s .5s;}
#quick.active .banner li:nth-child(3) {transition:all .3s .6s; -webkit-transition:all .3s .6s;}
#quick.active .banner li:nth-child(4) {transition:all .3s .7s; -webkit-transition:all .3s .7s;}
#quick.active .link li {left:0; opacity:1; transition:all .3s .9s; -webkit-transition:all .3s .9s;}
#quick.active .link li:nth-child(2) {transition:all .3s 1.1s; -webkit-transition:all .3s 1.1s;}
#quick.active .link li:nth-child(3) {transition:all .3s 1.3s; -webkit-transition:all .3s 1.3s;}




/* ========== 공통 ==========
body{overflow-x:hidden;}
.container{width:1340px;margin:0 auto;
  @include clearfix;
}
*/
/* ========== 상단 ==========
.start #header{opacity:1;height:4.5rem;transition:all .5s ease;}
#header{
  opacity:0;border-bottom:1px solid rgba(255,255,255,0.3); width:100%; height:0px; position:absolute; left:0; top:0; z-index:10; text-align:center;
  .nav{position:absolute;left:50%;transform:translateX(-50%);font-size:.9rem;font-weight:400;color:#fff;width:calc(100% - 40rem);
    .gnb{display:inline-block;
      &::after{content:"";display:block;width:200%;height:0px;transition:all .3s ease; transform:translateX(-50%);background-color:rgba(46,49,66,.9);position:absolute;left:50%;top:4.45rem;}
      .depth1 {overflow:hidden; display:table-cell; width:1%; height:0; position:relative; transition:all .3s ease;
        >a {display:block; text-align:center; position:relative;z-index:2; padding:1.65rem 1rem;font-size:.9rem; font-weight:300; color:#fff; letter-spacing:-1px;
          &::after{content:"";display:inline-block;width:.4rem;height:.4rem;background-color:#fff;opacity:0;position:relative;top:50%;transform:translate(.3rem, -1rem);border-radius:50%;transition:all .25s ease;}
        }
        &:hover,
        &.active{
          >a {text-decoration:none;transition:color .2s;border-bottom:0;
            &::after{opacity:1;}
          }
        }
        .bar { position:relative;width: 100%; height: 2px;border-radius:3px;display:block; margin: 4px 0; background: #fff; transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);}
        &.allmenu {width: 0.65%;
          &>a{background-color:#094186;
            &::before,
            &::after{display:none;}
          }
          &::after,&::before{display:none;}
          &:hover,
          &.active{background-color:transparent;}
          span {display:inline-block;vertical-align:middle;width:20px;margin-left:10px;
            &::before, &::after{content:""; @extend .bar; margin-top:0;}
          }
        }
      }
      .depth2 { @include inactive;@include position(50%,89px); width:100%;z-index:2;transition:all 0.5s ease;padding:1rem 0 .5rem;border-left:1px solid #252834;
        &:hover{background-color:rgba(2,6,23,.3);}
        &>li {vertical-align:top;
          &>a {display:block; text-align:center; position:relative; z-index:1; font-size:.8rem; font-weight:100; color:#d8d8db; letter-spacing:0; padding:8px 0;
            &:hover{text-decoration:underline;background-color:rgba(2,6,23,.3);}
          }
        }
      }
      .depth3{display:none;}
      &.active{
        &::after{height:15.75rem;}
      	.depth1{height:20.3rem;}
      	.depth2{@include active;height:15.75rem;}
      }
    }
  }
  .util{display:inline-block;margin:1.4rem 2.4rem 0 0;float:right;
    >a{display:inline-block;color:#fff;font-size:1.25rem;margin-left:1.5rem;}
    .popup-notice{position:relative;
      .badge{position:absolute;right:-5px;top:0;background-color:#fb6002;color:#fff;text-align:center;font-size:.5rem;width:16px;height:16px;line-height:.8rem;text-align:center;border-radius:50%;}
    }
    .eng-site{position:relative;}
    .eng-site::after{content:"En";font-size:12px;text-shadow:-1px -1px 5px rgba(0,0,0,1); position:absolute;right:0;bottom:0;z-index:2;}

  }
  .logo{width:245px;height:40px;position:absolute;left:2rem;top:50%;transform:translateY(-50%);
    a{display:block;width:100%;height:100%; background:url("../../images/kps/logo.svg") 0 0 / 100% 80px no-repeat;transition:all .25s ease;}
  }
  //&:hover{background:rgba(0,0,0,0.3); }

  .total-search-layer{max-height:0;overflow:hidden;@include inactive;  background-color:#fff; position:absolute;left:0;top:0;z-index:9; width:100%; transition:all .5s ease;
    .container{@include clearfix;
      >*{@include vertical;}
    }
    .logo{position:static;transform:none;margin-right:2rem;}
    input[type="text"]{border:0;border-bottom:4px solid #d5d5d5;height:2.75rem;width:50%;}
    button{transform:translateX(-2rem);}
    button .xi-search{font-size:1.5rem;color:#ababab;}
    .logo a{background-position:0 -40px;}
    .btn-close a{color:#737373;font-size:2rem;}
    &.active{max-height:300px;padding:3rem 0;
      @include active;
    }
  }

  .popup-layer{@include inactive;transition:all .5s;z-index:9;
    position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.8);
    .popup-list{margin-top:90px;}
    .bx-wrapper{
      .bx-controls{width:25rem;margin:.75rem auto;text-align:right;}
      .bx-pager{@include vertical;
        .bx-pager-item{@include vertical;margin-right:.5rem;}
        a{display:block;width:.5rem;height:.5rem;background-color:#fff;border-radius:50%;font-size:0;color:transparent;
          &.active{width:.9rem;height:.9rem;border:5px solid #e75822;background-color:transparent;}
        }
      }
      .bx-controls-auto{@include vertical;text-align:right;
        a{font-size:0;color:#fff;
          &::before{content:"\ea3b";font-family:"xeicon";font-size:.8rem;}
        }
      }
    }
    .btn-close{color:#fff;font-size:1rem;border-radius:1.25rem;border:1px solid #fff;padding:.5rem 1.5rem;
      i{font-size:1.5rem;display:inline-block;vertical-align:top;}
    }
    &.active{
      @include active;
    }
  }
}

.go-top{position:fixed;right:65px;bottom:100px;z-index:52;opacity:0;visibility:hidden;transition:all .3s ease;}
.go-top.active{opacity:1;visibility:visible;}
*/

/* ========== 서브레이아웃 ==========
#spot{padding:9rem 0 5rem;color:#fff;position:relative;
  background: no-repeat 50% 50%/cover;
  &.sub1{background-image:url("../../images/kps/sub_visual1.jpg");}
  &.sub2{background-image:url("../../images/kps/sub_visual2.jpg");}
  &.sub3{background-image:url("../../images/kps/sub_visual3.jpg");}
  &.sub4{background-image:url("../../images/kps/sub_visual4.jpg");}
  &.sub5{background-image:url("../../images/kps/sub_visual5.jpg");}
  &.sub6{background-image:url("../../images/kps/sub_visual6.jpg");}
  &.sub7{background-image:url("../../images/kps/sub_visual7.jpg");}
  .depth2{
    >li{display:none;}
    .depth3{display:none;}
    >.active {display:block;text-align:center;
      >a{@include font(300, 2.25rem, "AritaBuri");}
      .depth3{display:block;position:absolute;left:0;top:100%;width:100%;border-bottom:1px solid #ddd; text-align:center;
        li{display:inline-block;
          a{display:inline-block;padding:1rem;margin-bottom:-1px;font-size:.9rem;color:#777;}
          &.active{
            a{border-bottom:3px solid #000;color:#555;}
          }
          ~li::before{content:"";@include vertical;width:1px;height:14px;background-color:#ddd;}
        }
      }
    }
    .prev,
    .next {display:block;position:absolute;top:55%; left:2rem;
      >a{display:inline-block;line-height:2.5rem;position:relative;opacity:0.6;transition:all .3s;font-size:.9rem;
        &::before{content:"";float:left;@include circle(2.5rem); border:1px solid #fff;margin-right:2rem;}
        &::after{content:"";display:block;width:3rem;height:12px;background:url("../../images/kps/snb_arr.png") no-repeat 50% 50%/cover;@include position(20px, 50%);}
        &:hover{opacity:1;}
      }
    }
    .next {left:inherit;right:2rem;
      >a{
        &::before{float:right;margin:0 0 0 2rem;}
        &::after{transform:translate(0, -50%) rotateY(180deg);left:inherit;right:20px;}
      }
    }
  }

  .cont-top{text-align:center;font-size:.8rem;font-weight: 200;opacity:.6;margin-top:1.8rem;
    .path{@include vertical;
      i{margin:0 .5rem;font-size:.7rem;}
    }
    .cont-util{@include vertical;margin-left:.5rem;
      >div>a,
      .print{display:inline-block;border:1px solid #fff;@include circle(1.65rem);margin:0 .25rem;}
      .zoom,
      .sns{display:inline-block;}
      .sns{position:relative;
        .sns-shortcut{@include inactive;border:1px solid #fff; border-radius:1.65rem; transition:all .3s; position:absolute; left:5px; top:0; width:0rem; white-space: nowrap; height:100%; z-index:-1; overflow:hidden;padding-left:1.5rem;
          li{@include vertical;
            a{display:block;padding:.2rem;}
          }
        }
        &.active{
          .sns-shortcut{@include active;width:6rem;}
        }
      }
    }
  }
}
.cont-wrap{
  >h1{ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
  .cont-mid{@include topclear;@include clearfix;
    padding:3.2rem 0;
  }
}
*/

/* 만족도 조사
.cont-bot { margin:3rem 0; border:1px solid #ddd;
  .title {
    strong { color: #000;display: block; position: relative; padding:.5rem 2rem; @include topclear;
      &::before { content: "\ea14"; color: #fff; font-family: xeicon !important; display: inline-block;vertical-align:middle;text-align:center; width: 1.8rem; height: 1.8rem; border-radius: 50%; background-color: $color2;  line-height: 2; margin-right:1rem; }
    }
  }
  .cont{background-color:#f8f8f8;padding:1rem 2rem;border-top:1px solid #ddd;
    .satisfy-choice { margin-top:.2rem;
      > li { display: inline-block; margin-right:1.5rem; font-size: .8rem;
        input{margin-right:.3rem;width:.8rem;height:.8rem;vertical-align:middle;}
        label{display:inline-block;vertical-align:middle;}
      }
    }
    .txt { display: inline-block;  font-size: 0; margin:0;vertical-align: middle;
      .input-mid { width: 85%;font-size: .7rem; display: inline-block;vertical-align:middle; height: 35px; padding: 2px 8px;  line-height: 1.5;background-color: #fff; border: 1px solid #ddd; }
      .btn-assess { width: 15%;height:35px; display: inline-block;vertical-align:top; font-size: .7rem; line-height: 1.5; text-align: center; color: #fff; background-color: #313c4c; transition: all .25s ease; border: 1px solid #313c4c; padding: 6px 12px; margin-left: -1px; }
    }
  }
}
*/
