@charset "UTF-8";
@import "../common/mixin";
/* 20180723 JYC */

/* reset
body{color:#666;font-weight:300;word-break:keep-all;letter-spacing:-0.015rem;}
.cont-mid strong{color:$dark0;font-weight:400;}
.img figure p{display:inline-block;margin:0 .5rem;}
figcaption{margin-top:2.5rem;}
figcaption span{display:block;margin-top:.5rem;}
.point1{color:$color3!important;}
.point2{color:$color2!important;}
p{line-height:1.6;margin:0 0 1.5rem;
	&:last-of-type{margin-bottom:0;}
}
*/
/* common */
.tab-nav{margin:4.5rem 0 2.5rem;z-index:99;
	ul{display:table;width:100%;text-align:center;}
	li{display:table-cell;vertical-align:middle;width:1%;border:1px solid #ddd;background-color:#fff;transition:all .3s ease;
		a{display:block;padding:.8rem;}
		&.active{position:relative;z-index:2;border:3px solid $color2;}
	}
	&.fixed{box-shadow:0 0 10px rgba(0,0,0,.15);}
}
.box{border:1px solid #ddd;border-top-color:#000;padding:3.5rem;}
.remark{color:$color6;display:block;font-size:.8rem;}
.table + *{margin-top:.5rem;}
[class*="-section"]{padding:4.5rem 0;
	&.bg{position:relative;
		&::before{content:"";display:block;background-color:#f0f1f3;width:200%;height:100%;position:absolute;top:0;left:50%;z-index:-1;transform:translateX(-50%);}
	}
	.wide{position:absolute;width:calc(100vw - 17px);left:0;}
}
.deco-img{display:inline-block;position:relative;
	figure{position:relative;display:inline-block;
		&::before, &::after{content:"";display:block;position:absolute;}
		&::before{width:9rem;height:9rem;bottom:-2rem;right:-2rem;background-color:#35437f;z-index:1;}
		&::after{width:11.4rem;height:11.4rem;left:-2.75rem;top:-2.75rem;border:5px solid #efefef;z-index:-1;}
	}
	small{display:block;font-size:.5rem;color:#b6b6b6;letter-spacing:0.04rem;margin:.5rem 0 1.25rem;}
}
.list{border-top:1px solid #000;
		>li{border-bottom:1px solid #ddd;padding:2rem 0; @include clearfix;}
}
.list-dot{
	>li{position:relative;padding-left:.7rem;line-height:1.5;margin-bottom:0.5rem;
		&::before{content:"";display:block;width:0.2rem;height:0.2rem;border-radius:50%;background-color:#848daf;position:absolute;left:0;top:.7rem;}
	}
}
.list-dash{
	>li{position:relative;padding-left:.7rem;line-height:1.5;
		&::before{content:"";display:block;width:0.2rem;height:1px;background-color:#848daf;position:absolute;left:0;top:.7rem;}
	}
}
.btns{margin:30px 0 70px;}
.btn{display:inline-block;padding:1rem 2.5rem;width:12.25rem;@include clearfix;
	span{display:inline-block;float:left;}
	i{font-size:1.25rem;float:right;}
}
.table {
	.btn{padding-top:.4rem;padding-bottom:.4rem;}
	.btn-style03{font-size:.65rem;}
}

.btn-style01{background:$color2; color:#fff;}
.btn-style02{background:$color5; color:#313123;}
.btn-style03{font-size:.8rem; color:#000; border:1px solid #ddd; border-radius:1.5rem; width:auto; padding:.8rem 1rem;transition:all .25s ease;
	i{font-size:.9rem;margin-left:1rem;}
	&:hover{background-color:#eee;}
}
.btn-style04{background:$color4; color:#fff;}
.deco-top{padding-top:3.2rem;}
.txt{
	.major-txt{@include font(300,2.25rem,"AritaBuri"); color:$dark0; padding-top:1.5rem; position:relative;
		&::after{background:url("../../images/kps/sub0102_text_logo.png") no-repeat 0 0/cover;width:12.1rem;height:2.4rem;content:"KINAC";color:transparent;position:absolute;left:0;top:0;z-index:-1;}
		strong{display:block;position:relative;
			&::after{content:"";display:block;width:8rem;height:5px;background-color:#000;position:absolute;right:0;top:50%;}
		}
	}
	.sub-txt{font-weight:300;font-size:1.15rem;color:$dark1;letter-spacing:-0.08rem;
		strong{font-weight:400;font-size:1.25rem;}
	}
}
.even{margin-bottom:2rem;
	table{text-align:center;}
	thead th{border:0;background-color:#35437f;color:#fff;position:relative;
		~th:before{ content:""; display:block; width:1px; height:18px; background-color:#636fa3; position:absolute; left:0; top:50%; transform:translateY(-50%);}
	}
	tbody tr:nth-child(even){background-color:rgba(249,249,249,.5);}
}

/* sub0101 */
.greeting{font-size:.9rem;
	.deco-img{
		figure{
			&::before{right:auto;bottom:-2rem;left:-2rem;background-color:#efeede;z-index:-1;}
			&::after{left:auto;right:-2.75rem;border-color: #e4e2ca;z-index:1;}
		}
		small{letter-spacing:0.2rem;}
		.sign {text-align:right;
			span{@include vertical;font-weight:500;color:$dark0;margin-right:1rem;}
		}
	}
	.major-txt{
		&::before{content:"";display:block;width:2.9rem;height:1px;background-color:$dark0;margin-bottom:1rem;}
	}
}
/* sub0102 */
.establish{
	.title-section{
		.deco-img {
			figure::before{background-image:url("../../images/kps/sub0102_symbol_img.png"); background-repeat:no-repeat; background-position:50% 50%;z-index:1;}
			small{position:absolute;right:0;top:0;transform:translate(108%, -50%) rotate(90deg);transform-origin:0 0;}
		}
	}
	.purpose-section{
		h2{text-align:center;}
		.img{display:block;text-align:center;}
		ul{position:absolute;width:100%;height:calc(100% - 12.5rem);}
		li{position:absolute;
			strong{color:$dark0;font-style:italic;font-weight:500;display:block;margin-bottom:.5rem;position:relative;
				&::before{content:"";width:1.3rem;height:2px;background-color:$dark0;@include vertical;margin:-.2rem .5rem 0 -1.8rem;}
			}
			&:nth-child(1),&:nth-child(3){right:75%;top:0;text-align:right;
				strong::before{position:absolute;right:-1.8rem;top:50%;margin:0;}
			}
			&:nth-child(2),&:nth-child(4){left:75%;top:0;}
			&:nth-child(3){top:auto;bottom:0;}
			&:nth-child(4){top:auto;bottom:0;}
		}
	}
	.basis-section{
		.box{
			h2{display:inline-block;vertical-align:top;margin:0 2.5rem 0 0;}
			p{display:inline-block;vertical-align:top;border-left:1px solid #ddd;padding-left:2.5rem;}
		}
	}
}
/* sub0103 */
.vision-mission{
	.vision-section{
		h3{font-size:1.5rem;text-transform:uppercase;margin-bottom:1rem;}
		.diagram{background:url("../../images/kps/sub0103_vision_bg.png") no-repeat 50% 0%;padding:2.75rem 0;}
		.vision{display:block;width:15rem;height:15rem;background-color:#283873;border-radius:50%;margin:0 auto;color:#fff;text-align:center;
			h3{padding:4.5rem 0 1rem;margin:0 2rem 1rem;border-bottom:1px solid rgba(255,255,255, .1);color:#fff;}
			span{font-size:1.1rem;}
		}
		.mission{position:relative;z-index:2;text-align:center;padding:4rem 0;
			&::before{content:"";display:block;width:25rem;height:17.7rem;background:url("../../images/kps/sub0103_vision_arr.png") no-repeat 50% 50%/cover;position:absolute;left:50%;top:-3rem;z-index:-1;transform:translateX(-50%);}
			h3{color:#283873;}
			span{font-size:1.1rem;font-weight:400;color:#1c223b;}
		}
		.strategy{text-align:center;
			h3{color:#000;}
			.icon{display:block;width:11.3rem;height:11.3rem;margin:0 auto 1rem;background:no-repeat 0 0/cover;position:relative;}
			strong{color:$dark0;font-style:italic;font-weight:500;display:block;margin-bottom:.5rem;}
			span{font-size:1rem;}
			li~li .icon::before{content:"";display:block;width:35px;height:6px;background:url("../../images/kps/word-reduce.png") no-repeat 0 0;position:absolute;left:-50%;top:50%;}
			li:nth-child(1) .icon{background-image:url("../../images/kps/sub0103_vision_icon1.png");}
			li:nth-child(2) .icon{background-image:url("../../images/kps/sub0103_vision_icon2.png");}
			li:nth-child(3) .icon{background-image:url("../../images/kps/sub0103_vision_icon3.png");}
		}

	}
	.goals-section{
		h2{text-align:center;}
		.card{background-color:#fff;border:1px solid #ddd;border-top:2px solid #000;padding:1.5rem;font-size:.8rem;letter-spacing:-.05rem;min-height:15.5rem;}
		.icon{display:block;width:3.35rem;height:3.35rem;margin:0 auto 1rem;padding-top:.6rem;background:no-repeat 0 0; position:relative; border-radius:50%;
			&::before{content:"";display:block;width:2.15rem;height:2.15rem;background:url("../../images/kps/sub0103_goal_icon.png") no-repeat 0 0/cover;margin:0 auto;}
		}
		li{
			&:nth-child(1) .icon{background-color:#283873;
				&::before{background-position:0 0;}
			}
			&:nth-child(2) .icon{background-color:#1b6cb8;
				&::before{background-position:-2.15rem 0;}
			}
			&:nth-child(3) .icon{background-color:#079dcd;
				&::before{background-position:-4.3rem 0;}
			}
		}
	}
	.task-section{padding-top:8.5rem;
		.deco-img figure::before{z-index:-1;}
	}
}

/* sub0104 */
.history {
	.history-title{text-align:center;margin-bottom:2.8rem;
		.icon{display:inline-block;width:87px;height:80px;background:url("../../images/kps/sub0104_symbol.png") no-repeat 0 0/cover;}
		strong{font-size:2rem;display:block;font-weight:600;}
		small{color:#767676;font-size:1rem;font-weight:300;}
	}
	.timeline {	position: relative; @include clearfix;
		&::before{	content: ""; width: 1px; height: calc(100% - 3.8rem);  background-color: #e0e5ed;
    position: absolute; top: .5rem;  left: 50%; z-index: -1;}
		> li {width: 50%; padding-left: 5.6rem;position: relative;margin-bottom: 2rem;opacity:0;transform:translateY(5rem);transition:all .3s ease;
			&.active{
				opacity:1;transform:translateY(0);
				img{transform:translateY(-3rem);}
			}
			&:before{content: "";position:absolute;right:0;top:.9rem;width:3.5rem;height:1px;background-color:$color1;}
			&:after {content: ""; position: absolute; top: .5rem;width: .9rem;
			height: .9rem;border:3px solid $color2;	background-color:#fff;border-radius: 100%;right:0;transform:translateX(50%);}
			&:nth-child(odd) {right:-50%;
				&:after {right: inherit;left:0;transform:translateX(-50%);}
				&:before{right:inherit;left:0;}
			}
			&:nth-child(even){padding-right:5.6rem;text-align:right;}
			strong {display: block;font-size: 1.5rem;font-weight: 500;	color: $dark0;				margin-bottom: 15px;}
			figure{display:inline-block;width:22.35rem;height:7.9rem;margin-top:1rem;overflow:hidden;
				img{transition:all 1s ease;transform:translateY(0);}
			}
			ul > li {
		 	 	overflow: hidden;
		 	 	line-height: 25px;
	 	 	}
			&:nth-child(even) {
		 		 ul > li{padding-right:0px;position:relative;letter-spacing:-1px;
		 			 em{position:absolute;right:0;margin-right:0;}
		 			 span{text-align:right;}
		 		 }
		 	 }
		 }
	 .history-img{margin-top:-5rem!important;}
	}
}

/* sub010402 */
.director {
	.director-section{border:1px solid #ddd;@include clearfix;
		.deco-img{padding-left:7rem;}
		figure{
			&::before{color:#fff;font-size:1.5rem;font-weight:500;@include align(center, center);}
		}
		~ .director-section{margin-top:3.7rem;}
		h2{
			strong{font-size:1.5rem;display:block;font-weight:500;}
			small{font-size:1.5rem;color:#c3c3c3;}
		}
		h3{margin:1.6rem 0 .6rem;color:#000;font-weight:400;}
	}
	#director1 figure::before{content:"1대 원장";}
	#director2 figure::before{content:"2대 원장";}
	#director3 figure::before{content:"3대 원장";}
}

/* sub0105 */
.org-tree {text-align: center;font-size: 1rem;position:relative;
	&::before{content:"";display:block;width:334px;height:67px;position:absolute;left:50%;top:3rem;transform:translate(-135%);background:url("../../images/kps/sub0106_logo_text.png") no-repeat 0 0/cover;}
	a{display:block;padding: 1rem 0;}
	.board-director:before,
	.sub-org::before,
	.head::before,
	.quarter::before { content: ""; background: #e1e1e1; position: absolute; top: -30px; left: 50%;z-index:-1; }
	.board-director { display: block; width: 10rem; height: 10rem; line-height: 10rem; border-radius: 50%; margin: 0 auto 1rem;  color: #fff; background-color: $color2; text-align: center; position: relative; z-index: 1;
		&::before { width: 1px; height: 10.5rem; top:100% ; left: 50%; }
		&::after{content:"";display:block;background:url("../../images/kps/sub0106_logo_symbol.png") no-repeat 0 0/cover; width:2.5rem;height:2.3rem;position:absolute;left:50%;top:50%;transform:translate(-50%, -100%);}
	}

	.audit,
	.director{ position: relative; z-index:2; left: 50%;display: block; width: 200px;  color:#fff;	}
	.audit{transform:translateX(50%);background-color: $color4; margin-bottom:1rem;
		&::after { content: ""; background: #e1e1e1; width: 100px; height: 1px;  position: absolute; top: 30px; left: -100px; }
	 }
	.director{transform:translateX(-50%);background-color: $color3; margin-bottom:2rem;}
	.sub-org { display: inline-block; width: 100%; position: relative;
		&::before { width: 75%; height: 1px; transform: translateX(-50%); top: 0px; }
		> li { float: left; width: 23%; margin: 2.75rem 1% 0; position: relative;
			.head { position: relative;border:3px solid $color2;color:$color2;font-weight:500; background-color:#fff; display: block; width: 100%;  margin-bottom: 2.9rem;
			}
			.quarter { position: relative;
				> li { margin-top: .5rem;border: 1px solid #ddd;}
			}
			.head::before, .quarter::before { width: 1px; height: 2.9rem; top:-2.9rem;}
		}
	}
}
.org-detail{margin-top:4rem;
	.org-search{text-align:center;
		>*{height:2rem;@include vertical;}
		input[type="text"]{width:25rem;}
		.btn{width:6.9rem;padding:.5rem 1.2rem;font-size:.8rem;text-align:center;
			i{float:none;font-size:inherit;display:inline-block;margin-right:.5rem;}
		}
	}
	.org-member-info{
		.box{position:relative;padding:2rem 2.5rem;
			li~li{margin-top:.8rem;}
			strong{display:inline-block;width:5rem;position:relative;margin-right:1.25rem;
				&::after{content:"";display:block;width:1px; height:.6rem;background-color:#ddd;position:absolute;right:0;top:50%;margin-top:-.3rem;}
			}
			span{display:inline-block;}
			.btn{position:absolute;right:2.5rem;bottom:2rem;}
		}
	}
}

/* sub0106 */
.signature {
	div{background:url("../../images/kps/sub0106_ci_pattern.gif");border:1px solid #ddd;padding:5.75rem 0;text-align:center;min-height:17.3rem;}
}
.signature-section p{text-align:center;margin:2.5rem;}
.symbol-mean-section .circle{width:12.2rem;height:12.2rem;padding-top:3rem;margin:0 auto;border:.5rem solid #ddd;border-radius:50%;background-color:#fff;position:relative;text-align:center;
	&::before{content:"";display:block;background-color:#fff;width:16.8rem;height:16.8rem;border-radius:50%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);border:1px dashed #d8d8d8;z-index:-1;}
	.color{position:absolute;left:50%;top:50%;width:20.8rem;height:5.6rem;border:1px dashed #d8d8d8;border-radius:10.4rem;@include align(center, center);
		&::before,
		&::after{content:"";display:block;position:absolute;top:50%;}
		&::before{width:40%;height:1px;background-color:#ddd;}
		&::after{width:.4rem;height:.4rem;background-color:$color5;border-radius:50%;right:calc(100% - .2rem);transform:translateY(-50%);}
		.title{display:block;width:3.6rem;height:3.6rem;line-height:3.6rem;border-radius:50%;text-align:center;color:#313123;background-color:$color5;font-size:1.25rem;margin:0 1rem;position:absolute;left:0;top:50%;transform:translateY(-50%);}
	}
	.navy{background-color:#ebecf1;transform:translate(-150%, -50%);
		&::before{left:100%;}
		.title{color:#fff;background-color:$color2;left:auto;right:0;}
		&::after{background-color:$color2;left:calc(100% - .2rem);right:auto;}
	}
	.gray{background-color:#efefe7;transform:translate(50%, -50%);padding-left:2rem;
		&::before{right:100%;}
	}
}

/* sub0107 */
.map-section{height:28.5rem;
	.wide{height:28.5rem;}
	.map-address{width:21.2rem;height:21.2rem;padding:2.5rem;position:absolute;left:50%;top:50%;transform:translate(-150%, -50%);background-color:rgba(40,56,115,.95);color:#fff;
		.logo{position:relative;display:inline-block;
			&::after{content:"";display:block;width:3.3rem;height:3px;background-color:#fff;position:absolute;left:115%;top:61%;}
		}
		ul{margin-top:3.5rem;}
		.title{color:#fff;}
		.cont{margin-top:.3rem;}
		li~li{margin-top:2rem;}
	}
}
.transfort-section{margin-top:3rem;
	>ul{
		>li{
			.title{text-align:center;
				strong{font-size:1.25rem;color:#000;}
			}
			.icon{display:block;width:4rem;height:4rem;margin:0 auto .5rem;background:#f9f8f5 url("../../images/kps/sub0107_icon.png") no-repeat 0 0/cover;border-radius:50%;}
			&:nth-child(2) .icon{background-position:-4rem 0;}
			&:nth-child(3) .icon{background-position:-8rem 0;}
			&:nth-child(4) .icon{background-position:-12rem 0;}
			.cont{padding-left:3.5rem;border-left:1px dotted #ddd;
				strong{display:block;color:#000;margin-bottom:.5rem;}
				li~li{margin-top:2rem;}
			}
			&:first-child{
				.cont>ul{margin:2rem 0;}
			}
		}
	}
}

/* sub0108 */
.inter-cooperation{
	h2{text-align:center;font-size:1.5rem;
		+ p{margin-bottom:1.5rem;}
	}
	h3{text-align:center;}
	.support-section{
		ul{margin-top:3.5rem;
			li{padding:0 3.5rem;
				.icon{display:block;width:7.5rem;height:7.5rem;margin:0 auto;padding:1.5rem 0;border-radius:50%;background-color:#fff;
					&::before{content:"";display:block;width:4.5rem;height:4.5rem;margin:0 auto; background:url("../../images/kps/sub0108_icon.png") no-repeat 0 0/cover;}
				}
				~li{border-left:1px dotted #ccc;}
				&:last-child h3{margin:1rem 0;}
				&:nth-child(2) .icon::before{background-position:-4.5rem 0;}
				&:nth-child(3) .icon::before{background-position:-9rem 0;}
			}
		}
		h3 {font-size:1.25rem;margin:1.2rem 0;
			small{font-size:.9rem;}
		}
	}
	.nuclear-section{
		ul{margin-top:3rem;
			strong{display:block;font-size:1.25rem;margin-bottom:1rem;}
			.icon{display:block;width:4.5rem;height:4.5rem;margin:.5rem auto; background:url("../../images/kps/sub0108_icon.png") no-repeat -13.5rem 0/cover;}
			li:nth-child(2) .icon{background-position:0 0;}
			li:nth-child(3) .icon{background-position:-18rem 0;}
			li:nth-child(4) .icon{background-position:-4.5rem 0;}
		}
	}
}

/*sub0501 */
.deployment-manager{background-color:#fcfcfc;border:1px dashed #999;padding:1.5rem 2rem;
	>*{display:inline-block;vertical-align:middle;}
	strong{font-size:1rem;margin:0 1.3rem;}
	.name{margin-right:.5rem;}
	.tel{margin-right:1rem;}
	.xi-profile-o{font-size:3rem;color:#b1b1b1;}
}

/* sub0503 */
.dictionary {
	table{font-size:.8rem;}
	.dictionary-search-area {	margin: 15px 0 40px;	padding-top:2rem; border: solid 1px #d9dee6;	background: #f6f6f8;	overflow: hidden; position:relative;
		.keyboard{padding:0 30px 30px;
			&::before,
			&::after {content:""; display:block; clear:both;}
			button { color:#7a8395; margin:0;	min-width:33px;	float:left; margin-left:-1px;		padding:2px 0;	background: #fff;	border: solid 1px #c1c5cd; -webkit-transition:all .25s ease;transition:all .25s ease;
				&:first-child { margin-left:0; }
				&:hover{background-color:#c4ccda;transform:scale(1.5);position:relative;z-index:9;}
			}
			.btn{display:block;font-weight:normal;width:66px;height:68px;line-height:37px;text-align:center;}
			.btn.on,
			button.on {	border-color: $color2;	background-color: $color2;	color: #fff;}
			.num-btn { width:44px; }
		}
	}
	.dictionary-search {margin-bottom: 17px;overflow: hidden;position:absolute;top:30px;left:27%;
		label {font-size:0;opacity:0;width:0;height:0;position:absolute;}
		input {width: 383px;	height:37px;box-sizing:border-box;border-color: #d8d9db;}
		select {height:37px;}
		.btn {	vertical-align:middle;height:37px;padding: 5px 2rem;	background: $color2;	color: #fff;-webkit-transition:background .25s ease;transition:background .25s ease;
			&:hover {	background-color:darken($color2, 20%);}
		}
	}
	.keyboard-title{float:left;width:26%;
		.icon{display:block;float:left;width:5.2rem;height:5.2rem;margin-right:1.3rem;padding:.3rem 0;border-radius:50%;background-color:#fff;
			&::before { content: ""; display: block; width: 4.5rem; height: 4.5rem; margin: 0 auto;
	    background: url("../../images/kps/sub0108_icon.png") no-repeat -22.5rem 0/cover;}
		}
		.title{color:#2f3743;font-size:1rem;display:block;margin:.5rem 0;}
		.txt{color:#6c6d70;font-size:15px;}
	}
	.all-number-key{float:left;margin-top:2rem;}
	.kor-eng-key{float:left;margin-left:10px;margin-top:2rem;}
	.all-number-key .btn{padding:15px;}
	.korkey { display:block;}
	.engkey { display:block; margin-top:3px; }
	.korkey::before,
	.korkey::after,
	.engkey::before,
	.engkey::after{content:"";display:block;clear:both;}
}

/* sub0504 */
.knowledge-asset{
	.box{height:24.35rem;padding:2.1rem;border-top:2px solid $color2;}
	.icon{display:block;background-color:#f1f1f1;border-radius:50%;width:6.45rem;height:6.45rem;margin:0 auto;padding-top:1rem;
		&::before { content: ""; display: block; width: 4.5rem; height: 4.5rem; margin: 0 auto;
		background: url("../../images/kps/sub0108_icon.png") no-repeat -22.5rem 0/cover;}
	}
	.item2 .icon::before{background-position:-27rem 0;}
	.item3 .icon::before{background-position:-13.5rem 0;}
	.title{display:block;text-align:center;font-size:1rem;margin:1rem 0 1.2rem;}
	.list-dot>li{border-bottom:1px solid #ddd;position:relative;line-height:2;padding-left:1.4rem;
		&::before{left:.5rem;}
		a{display:block;}
		i{color:#222;float:right;margin:.35rem .5rem 0 0;}
		&:hover{background-color:#283873;color:#fff;border-radius:1rem;transition:all .25s ease;
			&::before{background-color:#fff;}
			i{color:inherit;}
		}
	}
}

/* sub0505 */
.linked-system{
	.cont-wrap {
		.txt{
			.major-txt{padding-top:0;margin-top:0;
				strong{display:inline-block;
					&::after{display:none;}
				}
				&::after{display:none;}
			}
			.shortcut{display:inline-block;border:1px solid #ddd; border-radius:1.5rem; font-size:.75rem; color:#000; padding:.7rem 1.35rem;margin:.5rem 0 2rem 0;transition:all .25s ease;
				i{margin-left:2.5rem;}
				&:hover{background-color:#eee;}
			}
		}
		.cont-list{border-top:1px solid #e7e7e7;
			.title{display:block;font-size:1rem;margin:1.7rem 0 .8rem;}
			.cont{}
		}
	}
}

/* sub0506 */
[class$="-relate-site"]{
	.banner li{display:table;height:4.5rem;margin-bottom:1rem;
		a{display:table-cell;border:1px solid #ddd; text-align:center; vertical-align:middle;}
	}
}

/* sub0603 */
.customer-service{border-top:1px solid #000;border-bottom:1px solid #ddd;
	.txt{text-align:center;position:relative;padding:0.65rem 0 2.4rem;border-bottom:1px solid #ddd;
		&::before,&::after{content:"";display:block;width:1.95rem;height:1.65rem;margin:0 auto;background:url("../../images/kps/quotation_mark.png") 0 0 / cover no-repeat;transform:translateY(50%);}
		&::after{background-position:-1.95rem 0;}
		.major-txt{margin-bottom:.5rem;padding-top:.5rem;
			&::after{left:50%;transform:translate(-50%);}
			strong::after{display:none;}
		}
		.sub-txt{font-size:1rem;
			strong{font-size:inherit;}
		}
	}
	.flow-chart{text-align:center;padding:5rem 0 3rem;
		li{position:relative;}
		li~li::before{content:"…";display:block;color:#b5b5b5;font-size:2rem;position:absolute;top:2.8rem;left:0;}
		.icon{width:8.25rem;height:8.25rem;margin:0 auto; display:block; border-radius:50%; @include topclear;position:relative;
			&::after{content:"";display:block;margin:2.5rem auto; width:3.5rem;height:3rem;background:url("../../images/kps/sub0603_icon.png") 0 0 / auto 100% no-repeat;}
		}
		li:nth-child(1) .icon{background-color:$color7;}
		li:nth-child(2) .icon{background-color:$color8;
			&::after{background-position:-3.5rem 0;}
		}
		li:nth-child(3) .icon{background-color:$color3;
			&::after{background-position:-7rem 0;}
		}
		li:nth-child(4) .icon{background-color:$color2;
			&::after{background-position:-10.5rem 0;}
		}
		em{@include font(900, 4rem, "Nanum Square"); color:#d7d7d7; opacity:.3;position:absolute;transform:translateX(40%);}
		strong{display:block;margin:1rem 0;}
	}
	.diagram{background:url("../../images/kps/sub060303_diagram_line.png") 50% 30% no-repeat;
		[class^="flow"] li{background-color:#fff;border-radius:1.8rem;border:1px solid #ccc;height:3.6rem;@include align(center, center);margin:0 2.3rem 1.7rem;text-align:center;}
		.flow1 li{border-color:$color7;}
		.flow2 li{border-color:$color8;}
		.flow3 li{border-color:$color3;}
		.flow4 li{border-color:$color2;}
		span{display:block;text-align:center;}
		.flow1 li:nth-child(2){transform:translateY(5.4rem);}
		.flow1 .mid-step{position:absolute;right:-36%;top:69%;transform:translate(-50%, -50%);border:1px solid #ddd;padding:.5rem 1rem;font-size:.8rem;height:auto;}
	}

	&.service-process{
		.flow-chart{
			li:nth-child(1) .icon::after{background-position:-14rem 0;}
			li:nth-child(2) .icon::after{background-position:-17.5rem 0;}
			li:nth-child(3) .icon::after{background-position:-21rem 0;}
			li:nth-child(4) .icon::after{background-position:-24.5rem 0;}
			li~li::after{content:"\e93f";font-family:"xeicon";display:block;position:absolute;top:2.5rem;left:1rem;color:#b5b5b5;font-size:2.5rem;}
		}
	}
}
.standard-wrap{border-top:1px solid #000;}
.standard{padding:2.5rem 0;
	~ .standard{border-top:1px solid #ddd;}
	.standard-title{border:.4rem solid #ebe9e9;width:10.5rem;height:10.5rem;padding:1rem 0 0 1.5rem;position:relative;margin:0;
		&::after{content:"";display:block;width:3rem;height:1px;background-color:#ebe9e9;transform:rotate(45deg);transform-origin:right bottom;position:absolute;right:0;bottom:0;}
		small{font-size:.75rem;display:inline-block;
			&::after{content:"";display:block;height:1px;background-color:#000;}
		}
		span{display:block;margin-top:.5rem;}
	}
	.standard-cont{
		h4{display:block;margin-bottom:.8rem;font-size:1rem;font-weight:400;
			~ h4{margin-top:1.6rem;border-top:1px dashed #999;padding-top:1.6rem;}
		}
		.title{display:block; margin:1.4rem 0 .6rem;position:relative;padding-left:.5rem;
			&::before{content:"";display:block;width:2px;height:.7rem;background-color:#000;position:absolute;left:0;top:4px;}
		}
	}
}


/* sub0604 */
.title-box{background-color:#f3f3f3;padding:2rem 3.6rem;margin-bottom:3rem;
	.title{font-size:1.25rem;margin:0 3rem 0 0;@include vertical;}
	.icon{background-color:#fff;@include vertical;width:5.3rem;height:5.3rem;margin-right:1.5rem;border-radius:50%;padding-top:.4rem;
		&::before{content:"";display:block;width:4.5rem;height:4.5rem;margin:0 auto; background:url("../../images/kps/sub0108_icon.png") no-repeat -18rem 0/cover;}
	}
	.cont{font-size:.8rem;color:#333;@include vertical;width:calc(100% - 22rem);}
}
.accordion{border-top:1px solid #000;
	>li{
		.title-wrap{display:block;padding:1rem 0;border-bottom:1px solid #ddd;
			.number{border:1px solid #ddd;color:$color2;text-align:center;padding:.4rem 0;width:10rem;font-size:.8rem;display:inline-block;border-radius:2.5rem;margin-right:2rem;transition:all .25s ease;}
			&:hover{
				.number{background-color:#ddd;}
			}
			.arrow{float:right;transform:translateY(-.3rem);font-size:1.5rem;border:1px solid #dedede;border-radius:50%;padding:.5rem;transition:all .25s ease;}
		}
		.cont{@include inactive;max-height:0;overflow:hidden;padding:0 2rem;border-bottom:1px solid #ddd;
			.title{display:block; margin:0 0 .6rem;position:relative;padding-left:.5rem;
				&::before{content:"";display:block;width:2px;height:.7rem;background-color:#000;position:absolute;left:0;top:4px;}
			}
			.list-dot>li{font-size:.8rem;
				&::before{top:.5rem;}
			}
		}
		&.active{
			.number,
			&:hover .number{background-color:$color2;border-color:$color2;color:#fff;}
			.cont{@include active;background-color:#fafafa;max-height:2000px;padding:2rem;transition:all .3s ease;}
			.arrow{transform:translateY(-.3rem) rotate(180deg);}
		}
	}
}
.copyright-policy{
	.title-box	.icon::before{background-position:-31.5rem 0;}
	.open-mark{
		.box{text-align:center;width:90%;padding:2rem;font-size:.8rem;
			img{margin-bottom:1rem;}
			p{border-top:1px dashed #999;padding-top:1rem;}
		}
		p:first-of-type{margin-top:0;}
	}
}
.reject-email	.title-box	.icon::before{background-position:-36rem 0;}

/* sub0605 */
.report-center	.standard-wrap{border-top:1px solid #000;border-bottom:1px solid #ddd;}
.clean-report	.title-box .icon::before{background-position:-40.5rem 0;}
.waste-money-report{
	.title-box	.icon::before{background-position:-45rem 0;}
	.flow-chart{
		li{
			.circle{display:block;width:7.5rem;height:7.5rem;border:1px solid $color2; color:$color2; border-radius:50%; @include align(center, center); text-align:center; font-size:.8rem;}
			~li::before{content:"\e90b";font-family:"xeicon";font-size:1rem;color:$color2;position:absolute;left:-17%;top:50%;transform:translateY(-50%);}
		}
	}
}
.file-info{@include vertical;
	+ .btn{@include vertical;margin-left:1rem;}
}
.ombudsman	.title-box	.icon::before{background-position:-49.5rem 0;}
.on-terror	.title-box	.icon::before{background-position:-54rem 0;}

/* sub0702 */
.release-info .title-box .icon::before{background-position:-31.5rem 0;}
.info-search{text-align:center;
	>*{height:2rem;@include vertical;
		~ * {margin-left:.5rem;}
	}
	.wave-dash{line-height:2;}
	.datepicker{width:10rem;}
	.input-text{width:20rem;}
	.xi-calendar-list{color:$color2;margin-left:-1rem;transform:translate(-.5rem, .5rem);}
	.btn{width:6.9rem;padding:.5rem 1.2rem;font-size:.8rem;text-align:center;
		i{float:none;font-size:inherit;display:inline-block;margin-right:.5rem;}
	}
}
/* sub0706 */
.ethical-manage	.title-box .icon::before{background-position:-58.5rem 0;}
/* sub0707 */
.business-name {
	.title-box .icon::before{background-position:-63rem 0;}
	.flow-chart{
		li{text-align:center;position:relative;
			.term-step{display:block;position:absolute;top:1rem;right:0;color:$color2;
				i{display:block;font-size:1.6rem;}
			}
		}
		.round{display:block;padding:1.2rem 0;margin-right:2.5rem;border:1px solid $color2;border-radius:1.75rem;margin-bottom:.8rem;color:$color2;}
		li:last-child .round{background-color:$color2;color:#fff;}
	}
}
/* board-view 수정 */
.board-view{position:relative;margin-top:3.4rem; }
.board-view .board-view-title {padding:1.5rem 0; font-size:1.25rem; font-weight:400; color:#000;border-top:1px solid #454b56; border-bottom:1px solid #ddd;}
.board-view .tag-sns-wrap{padding-top:1.5rem;@include clearfix;}
.tag-sns-wrap .tag-time{float:left;}
.tag-time{font-size:.8rem;}
.tag-time i{display:inline-block; margin-right:5px; color:#c8d1de; font-size:.85rem; vertical-align:middle;}
.tag-time > span{position:relative; display:inline-block;}
.tag-time > span + span{margin-left:25px;}
.tag-time > span + span:before{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); left:-15px; width:1px; height:50%; background:#dbe0e3; content:'';}
.tag-time .name{color:#000;
	.xi-profile-o{color:#b1b1b1;font-size:1.5rem;}
}
.sns-link{float:right;transform: translateY(-4.8rem);}
.sns-link a{display:inline-block; width:2rem; height:2rem; line-height:2rem; font-size:1rem;border:1px solid #ddd;border-radius:50%; text-align:center; color:#919191;transition:all .25s ease;}
.sns-link a + a{margin-left:7px;}
.sns-link a:hover{background-color:#3a599a;color:#fff;border-color:transparent;}
.sns-link a.twitter:hover{background-color:#3cbcf1;}
.sns-link a.kakaostory:hover{background-color:#f9d615;}
.view-content {width:100%;margin:35px 0px; color:#666; line-height:2;}
.view-content img {display:block; max-width:100%; height:auto; margin:50px auto 20px; text-align:center;}
.view-content-wrap{@include clearfix;}
.board-view .latest-board{float:right;width:20%;margin-left:10%;}
.board-view .latest-board + .view-content{width:70%;float:left;}
.familiar-post{}

.tag-file-list{border-top:1px solid #e4e4e4;}
.tag-file-list > li{border-bottom:1px solid #e4e4e4;position:relative;@include clearfix;padding-left:13rem;}
.tag-file-list .tag-list,
.tag-file-list .file-list{padding:1rem;float:left;}
.tag-list{display:inline-block;}
.tag-list > li{display:inline-block; min-width:70px; background:#eef0f3; color:#555; text-align:center;}
.tag-list > li + li{margin-left:6px;}
.tag-file-list > li > span{display:block;padding:1rem; position:absolute;left:0;top:0;width:13rem;height:100%;font-weight:500; background-color:#f8f8f8;color:#353535; text-align:center;}
.tag-file-list i{display: inline-block;vertical-align:middle;}
.tag-file-list .clip{display: inline-block;vertical-align:middle;  color:#666;}
.file-volume{display:inline-block;vertical-align:middle; font-size:.75rem;margin-left:12px; padding:.15rem 1rem; border-radius:30px; background:#efefef; text-align:center;}






/* 가에꺼 pinterest */
.pinterest-board {
	li{float:left; height:370px; margin-top:27px;
		> a{display:block; height:100%; border:1px solid #e2e7ef;
			.img{position:relative; width:100%; height:55%; overflow:hidden; background:#eee;
				 img{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); transform-origin:50% 50%; display:block; width:100%; height:auto;}
			}
			&:hover .img > img,
			&:focus .img > img {transition-duration:0.4s; -webkit-transform:scale(1.15) translateY(-43%); transform:scale(1.15) translateY(-43%);}
			.txt{padding:35px 20px;
				strong{display:block; width:100%; margin-bottom:20px; font-size:1.0rem; font-weight:500; line-height:1.5; color:#000;}
				p{color:#666; font-weight:200; line-height:1.5; word-break: break-word;}
			}
			&:hover,
			&:focus{border:1px solid #4756e1; -webkit-box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.30); -moz-box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.30); box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.30);}
		}
	}
	.tag-time{position:absolute; bottom:35px;
		.nation{color:#000;}
	}
}
.pinterest-more-btn{background:#353535; color:#fff; min-width:200px !important;}

/*-----------------------------------
 * 2018-05-24 (parkgahye - 최초작성)
 * ----------------------------------*/
select, input{padding: 0 10px;border:1px solid #eaeaea;}

[class^="page-count-wrap"]{position:relative;}
[class^="page-count-wrap"]:before{position:absolute; top:50%; left:100px; width:70%; height:1px; transform:translateY(-50%); -webkit-transform:translateY(-50%); background:#eaeaea; content:''; z-index:-1;}
.page-count-wrap01:before{left:200px;}

.page-count{display:inline-block; float:left; line-height:50px;}
.page-total,
.page-now{display:inline-block; font-size:1.0rem; color:#1d1614;}
.page-now{margin-left:5px;}
.page-total em,
.page-now em{font-weight:400; color:#c70010;}

.category-wrap{display:inline-block; float:right;}
.select-wrap{position: relative; display:inline-block; width:200px; height:50px;}
.select-wrap.short{width:150px;}
.select-wrap select{width:100%; height:100%; -webkit-appearance:none; appearance:none;}
.select-wrap select::-ms-expand{display:none;}
.select-wrap:after{position: absolute; top: 50%; right:25px; transform: translateY(-50%); font-family: 'xeicon'; color:#030101; content: '\e942';}

.page-number-view-btn{display:inline-block; margin-left:20px; border:1px solid #eaeaea; vertical-align:middle;}
.page-number-view-btn li{display:inline-block;}
.page-number-view-btn li > a{display:block; width:65px; height:50px; line-height:50px; font-size:1.5rem; text-align:center; color:#75828a;}
.page-number-view-btn li + li > a{border-left:1px solid #eaeaea;}
.page-number-view-btn li.active > a,
.page-number-view-btn li > a:hover,
.page-number-view-btn li > a:focus{background:#66748f; color:#fff;}

.search-form-wrap{margin:25px 0 40px; padding:20px 0; background:#fafafa; text-align:center;}
.search-form-wrap select{border:1px solid #d9dfe8;}
.search-form-wrap .select-wrap + .select-wrap,
.search-form-wrap .select-wrap + .input-wrap{margin-left:10px;}
.search-form-wrap button{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); right:20px; font-size:1.2rem; background:transparent; color:#030101;}
.search-form-wrap button i{vertical-align:middle;}

.input-wrap{position:relative; display:inline-block; width:30%; height:50px; vertical-align:middle;}
.input-wrap input{width:100%; height:100%; border:1px solid #d9dfe8;}

/*board style*/
.board-style01{border-top:1px solid #454b56; border-bottom:1px solid #e4e4e4;}
.board-style01 > li{padding:35px 12px 30px;}
.board-style01 > li + li{border-top:1px solid #e4e4e4;}
.board-style01 > li > a  strong.title{display:block; margin-bottom:25px; font-size:1.1rem; color:#000;}
.board-style01 > li > a p.contents{margin-bottom:30px; font-weight:200; color:#666; line-height:1.5;}
.board-style01 > li > a .title-point{display:block; margin-bottom:15px; font-family: 'IropkeBatang', sans-serif; font-weight:600; color:#d02634;}

.board-more-view-btn{width:100px; height:40px; margin-top:10px; line-height:40px; background:#6d758f; font-size:.375rem; color:#fff; text-align:center;}
.tag-list + .board-more-view-btn{float:right;}
.board-more-view-btn:hover,
.board-more-view-btn:focus{border:1px solid #6d758f; background:#fff; color:#6d758f;}

.write-btn{width:112px; height:40px; line-height:40px; background:#353535; font-size:.75rem; color:#fff;}
.write-btn i{margin-right:10px;}
.write-btn:hover,
.write-btn:focus{border:1px solid #353535; background:#fff; color:#353535;}

.relevant-content-wrap{padding:50px 20px 60px; background:#f9f9f9; overflow:hidden;}
.relevant-content-wrap > strong{display:block; margin-bottom:30px; font-size:1rem; color:#1b1d20;}
.relevant-content > li{float:left; min-height:13rem;}
.relevant-content > li > a{display:inline-block; width:100%; height:100%; padding:30px; background:#fff; border:1px solid #e2e7ef;}
.relevant-content > li > a > p{margin-bottom:30px; font-size:1rem; font-weight:400; color:#000;}
.relevant-content-info > li{position:relative; float:left; font-size:.75rem; color:#707786;}
.relevant-content-info > li.name{color:#000;}
.relevant-content-info > li.time{font-family:'Roboto', sans-serif; font-weight:400;}
.relevant-content-info > li + li{padding-left:20px;}
.relevant-content-info > li + li:before{position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); left:10px; width: 1px; height: 50%; background: #e1e3ea; content: '';}
.relevant-content > li > a:hover,
.relevant-content > li > a:focus{text-decoration:underline;}

.board-style02 .img{display:inline-block; width:20%; height:180px; overflow:hidden; vertical-align:middle;}
.board-style02 .img img{width:100%; height:100%;}
.board-style02> li a:hover .img > img,
.board-style02> li a:focus .img > img {transition-duration: 0.4s; -webkit-transform: scale(1.15); -ms-transform: scale(1.15); transform: scale(1.15);}
.board-style02 .txt{display:inline-block; width:65%; margin-left:40px; vertical-align:middle;}

[class^="page-count-wrap"] button{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); right:0; font-size:1.2rem; background:transparent; color:#030101; line-height:50px; padding:0 15px; border-left:1px solid #eaeaea;}
[class^="page-count-wrap"] button i{vertical-align:middle;}
[class^="page-count-wrap"] .input-wrap{width:280px;}
[class^="page-count-wrap"] + [class^="board-style0"]{margin-top:50px;}

.board-style03{border-bottom:0;}
.board-style03 thead th{border-bottom:1px solid #e4e4e4; font-weight:300; color:#707070;}
.board-style03 td:before,
.board-style03 td:after{position:absolute; left:0; width:100%; height:1px; background:#f3f3f3; content:'';}
.board-style03 td:before{top:4px;}
.board-style03 td:after{bottom:4px;}
.board-style03 tbody tr:first-of-type td:before{display:none;}
.board-style03 th{background:#fafafa;}
.board-style03 th,
.board-style03 td{position:relative; padding:25px 0; text-align:center;}
.board-style03 td{color:#707786;}
.board-style03 td.number,
.board-style03 td.time,
.board-style03 td.view-number{font-family:'Roboto', sans-serif; font-weight:400; color:#777;}
.board-style03 td i{margin-right:7px;color:#8b929a;vertical-align:middle;}
.board-style03 td.td-left{text-align:left;}
.board-style03 tbody tr{cursor:pointer;}
.board-style03 tr.active{-webkit-box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.30); -moz-box-shadow:    0px 2px 11px 0px rgba(50, 50, 50, 0.30); box-shadow:         0px 2px 11px 0px rgba(50, 50, 50, 0.30);}
.board-style03 tr.active td:before,
.board-style03 tr.active td:after{display:none;}
.board-style03 tr.active a{font-weight:500; color:#353535;}
.board-style03 td.view-number i{display:none;}

@media screen and (max-width: 1024px){
	/*스크롤 매직 초기화*/
	[class^="snb0"] .snb-bg-wrap:before{transform:scale(1, 1);}
	.snb-wrap .line-box:nth-of-type(1) {width:100%;}
	.snb-wrap .line-box:nth-of-type(2) {height:100%;}
	.snb-wrap .line-box:nth-of-type(3) {width:100%;}
	.snb-wrap .line-box:nth-of-type(4) {height:100%;}
	.snb-wrap .snb-title > span,
	.snb-wrap .snb-title > em{transform:translateY(0); -webkit-transform:translateY(0); opacity:1; visibility:visible;}

	.board-style03{border-top:1px solid #ededed; padding-top:20px;}
	.board-style03 > table{min-width:initial !important;}
	.board-style03 th[scope="col"]{display:none;}
	.board-style03  colgroup {display: none;}
	.board-style03 > table td{padding: 8px 10px 4px; border:0 !important; width: 100%; display:inline-block; font-size:1.05rem;  text-align:left;}
	.board-style03 > table tbody tr{display:block; width: 100%; border:1px solid #e4e4e4; padding:10px;}
	.board-style03 > table tbody tr + tr{margin-top:15px;}
	.board-style03 > table td:before,
	.board-style03 > table td:after{display:none;}
	.board-style03 > table td.number span{display:inline-block; min-width:65px; height:28px; line-height:28px; color:#fff; background:#ce1b1c; border-radius:15px; text-align:center;}
	.board-style03 td.td-left a{display:block; margin-bottom:20px; font-size:1.2rem; color:#353535;}
	.board-style03 td.view-number i{display:inline-block;}
	.board-style03 td i{color:#c8d1de}
	.board-style03 td.view-number{display: inline-block; width:45%; text-align: right;}
	.board-style03 td.time{display: inline-block; width:53%;}
	.page-count-wrap01 .page-count{width:100%;}
	.page-count-wrap01 .page-total{float:left;}
	.page-count-wrap01 .page-now{float:right;}
	.comma{display:none;}
}
@media screen and (max-width:900px){
	.cont-util,
	.page-number-view-btn{display:none;}

	.input-wrap{width:100%;}
	.search-form-wrap{padding: 20px 30px;}
	.search-form-wrap .select-wrap + .input-wrap{margin-left:0;}
	.tag-list + .board-more-view-btn{float:inherit; width:100%;}
	.select-wrap.short{width:32%; margin-bottom:20px;}
}
@media screen and (max-width: 767px){
	.heading1{font-size:1.4rem;}

	.select-wrap.short{width:30.5%;}
	[class^="page-count-wrap"]:before{width:50%; left:60px;}
	.path > span{padding-right:15px;}
	.path > span:after{right:0;}

	.tag-time,
	.sns-link{float:inherit; width:100%;}
	.tag-time{margin-bottom:20px;}

	.board-style02 .img{width:100%;}
	.board-style02 .txt{width:100%; margin:20px 0 0;}

	.category-wrap,
	.category-wrap .select-wrap,
	.category-wrap .input-wrap{width:100%;}
	.category-wrap [class$="-wrap"] + [class$="-wrap"]{margin-top:10px;}
}
@media screen and (max-width:425px){
	.select-wrap.short{width:100%;}
	.select-wrap.short{margin-bottom:10px;}
	.search-form-wrap .select-wrap + .select-wrap{margin-left:0;}

	.tag-time > span{display:block;}
	.tag-time > span + span{margin:5px 0 0 0;}
	.tag-time > span + span:before{display:none;}
	.view-content img{max-width:100%;}
	.tag-file-list > li > span{display:block; margin-bottom:10px;}
	.tag-file-list > li > span:after{dispaly:none;}
	.tag-file-list .tag-list{margin-left:-6px;}
	.relevant-content > li{padding:0;}

	.btns button{width:100%;}
	.btns button + button{margin:10px 0 0;}
}
